<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<title>@ViewData["Title"] - iVAT</title>
	<link rel="icon" type="image/svg+xml" href="~/images/logo.svg">
	<link rel="shortcut icon" type="image/svg+xml" href="~/images/logo.svg">
	<link href="~/css/vmslib.min.css" rel="stylesheet" type="text/css"/>
	@* <link href="~/css/typeahead.css" rel="stylesheet" /> *@
</head>

<body>
<partial name="_HeaderNewPartial"/>
<div class="container-fluid">
	<div class="main-content">
		<div class="mb-0">
			<div class="page-header">
				@await RenderSectionAsync("contentheader", required: false)
			</div>
			@if (TempData["ErrorMessage"] != null)
			{
				<div class="alert alert-danger  alert-dismissible fade show" role="alert">
					<i class="bi bi-exclamation-triangle-fill"></i>
					@Html.Raw(TempData["ErrorMessage"])
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			}
			@if (TempData["SuccessMessage"] != null)
			{
				<div class="alert alert-success  alert-dismissible fade show" role="alert">
					<i class="bi bi-check-circle-fill"></i>

					@Html.Raw(TempData["SuccessMessage"])
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			}
			@RenderBody()
			<div id="large-grid-pager" class="large-grid-pager"></div>
		</div>
		@*<div style="clear: both; display: block; -ms-opacity: 0; opacity: 0;">a</div>*@
		@* <div class="footer w-100 pb-2" style="bottom: unset !important"> *@
		<div class="footer w-100 pb-2">
			<partial name="_FooterNewPartial"/>
			<partial name="_Confirmation"/>
		</div>
	</div>
</div>
<script src="~/js/vmslib.js?vguid=@ViewStaticData.StaticFileVersionGuid"></script>
<script src="~/js/vms-validation.js?vguid=@ViewStaticData.StaticFileVersionGuid"></script>


@await RenderSectionAsync("Scripts", required: false)
<script type="text/javascript">
    $(document).ready(function () {
        if ('@TempData["message"]') {
            window.showMessage('@TempData["message"]');
        }
    });
    </script>
</body>
</html>