@model IEnumerable<vms.entity.StoredProcedureModel.MushakReturn.MushakReturnSubFormGha>
<h4 id="note24SubForm">সাবফর্ম- ঘ ( নোট ২৪-“সরবরাহকারীর সরবরাহ হইতে উৎসে কর্তনের জন্য” এর জন্য প্রযোজ্য)</h4>
<table class="table table-bordered">

    <thead>

        <tr class="MreturnHeader">

            <th>Serial No.</th>
            <th>
               Supplier's 
                BIN
            </th>
            <th>
                Supplier's Name
            </th>
            <th>Supplier's Address</th>
            <th>
               Value
            </th>

            <th>
               Deducted VAT
            </th>
            <th>
              Invoice No.(Challan/Bill No.etc)
            </th>
            <th> Invoice/Challan/Bill Date</th>
            <th>
                একাউন্ট কোড
            </th>
            <th>মন্তব্য</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {

            foreach (var item in Model)
            {
                <tr>

                    <td>@item.SlNo </td>
                    <td>@item.VendorBinNo </td>
                    <td>@item.VendorName </td>
                    <td>@item.VendorAddress </td>
                    <td class="text-right">@item.Price </td>
                    <td>@item.DeductedVat </td>
                    <td>@item.VatChallanNo </td>
                    <td>@item.TaxInvoicePrintedTime </td>
                    <td>@item.EconomicCode </td>
                    <td></td>
                </tr>

            }
        }

        
    </tbody>
    <tfoot>
        <tr class="MreturnHeader">

            <th></th>
            <th></th>
            <th></th>
            <th class="text-right">মোট</th>
            <th class="text-right">@Model.Sum(x=>x.Price) </th>
            <th class="text-right">@Model.Sum(x => x.DeductedVat)</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>