@model IEnumerable<vms.entity.StoredProcedureModel.MushakReturn.MushakReturnSubFormKha>
<h4 id="subFormKha"> সাবফর্ম- খ (নোট ৮ এর জন্য প্রযোজ্য)</h4>
<table class="table table-bordered">

    <thead>

        <tr class="MreturnHeader">

            <th>Serial No.</th>
            <th>
                Category
            </th>
            <th>
                Goods/Service 
                Commercial
                Description
            </th>
            <th>
                Goods/Service
                Code
            </th>
            <th>
                Goods/Service 
                Name
            </th>
            <th>
                Value (a)
            </th>
            <th>SD (b)</th>
            <th>
               VAT (c)
            </th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Any())
        {

            foreach (var item in Model)
            {
                <tr>

                    <td>@item.SlNo                        </td>
                    <td>@item.BusinessCategoryName        </td>
                    <td>@item.ProductCommercialDescription</td>
                    <td>@item.ProductCode                 </td>
                    <td>@item.ProductName                 </td>
                    <td class="text-right">@item.ProductPrice                </td>
                    <td class="text-right">@item.ProductSupplementaryDuty    </td>
                    <td class="text-right">@item.ProductVat                  </td>
                    <td>@item.Remarks</td>
                </tr>

            }
        }


    </tbody>
    <tfoot>
        <tr class="MreturnHeader">

            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-right">Total</th>
            <th class="text-right">@Model.Sum(x => x.ProductPrice)</th>
            <th class="text-right">@Model.Sum(x => x.ProductSupplementaryDuty)</th>
            <th class="text-right">@Model.Sum(x => x.ProductVat)</th>
            <th class="text-right"></th>
        </tr>
    </tfoot>
</table>