@model vms.entity.StoredProcedureModel.MushakReturn.MushakReturnPartSeven


<table class="table table-bordered">
    <thead>

        <tr>

            <th class="MreturnHeader" colspan="3">

                <h4>Part-7:NET TAX CALCULATION</h4>
            </th>

        </tr>


    </thead>
    <tbody class="Returntd">


        <tr class="Returntdhead">
            <td class="Returntdhead">Items</td>
            <td>Note</td>
            <td>Amount</td>

        </tr>


        <tr>
            <td> Net Payable VAT for the Tax Period (Section-45) (9C-23B+28-33)</td>
            <td style="text-align:center;">34</td>
            
            <td style="text-align:right;">@Model.NetTaxTotalPayableVatAmountInCurrentTaxTerm</td>



        </tr>
        <tr>
            <td>Net Payable VAT for the Tax Period after Adjustment with Closing Balance and balance of form 18.6 [34-(52+56)]</td>
            <td style="text-align:center;">35</td>

            <td style="text-align:right;">@Model.NetTaxTotalPayableVatAmountAfterAdjustmentWithEndingBalance</td>

        </tr>
                     
        <tr>
            <td>Net Payable Supplementary Duty for the Tax Period (Before adjustment with Closing Balance) [9B+38-(39+40)]</td>
            <td style="text-align:center;">36</td>

            <td style="text-align:right;">@Model.NetTaxTotalPayableSdAmountInCurrentTaxTerm</td>


        </tr>

        <tr>
            <td>
                Net Payable Supplementary Duty for the Tax Period After adjustment with Closing Balance and balance of from 18.6 [36-(53+57)]



            </td>
            <td style="text-align:center;">37</td>

            <td style="text-align:right;">@Model.NetTaxTotalPayableSdAmountAfterAdjustmentWithEndingBalance</td>

        </tr>



        <tr>
            <td>
                Supplementary Duty Againts Issuance of Debit Note


            </td>
            <td style="text-align:center;">38</td>

            <td style="text-align:right;" class="manual">@Model.NetTaxSdAmountForDebitNote</td>

        </tr>

        <tr>
            <td>
                Supplementary Duty Againts Issuance of Credit Note



            </td>
            <td style="text-align:center;">39</td>

            <td style="text-align:right;" class="manual">@Model.NetTaxSdAmountForCreditNote</td>

        </tr>
        <tr>
            <td>
                Supplementary Duty Paid on Inputs Againts Exports

            </td>
            <td style="text-align:center;">40</td>

            <td style="text-align:right;"class="manual">@Model.NetTaxPaidSdAmountForRawMaterialPurchaseToProduceExportProd</td>

        </tr>
        <tr>
            <td>
                Interest om Overdue VAT (Based on note 35)

            </td>
            <td style="text-align:center;">41</td>

            <td style="text-align:right;"class="manual">@Model.NetTaxInterstAmountForDeuVat</td>

        </tr>
        <tr>
            <td>
                Interest om Overdue SD (Based on note 37)

            </td>
            <td style="text-align:center;">42</td>

            <td style="text-align:right;"class="manual">@Model.NetTaxInterstAmountForDeuSuppDuty</td>

        </tr>
        
        <tr>
            <td>
                Payable Excise Duty
            </td>
            <td style="text-align:center;">45</td>

            <td style="text-align:right;"class="manual">@Model.NetTaxExciseDuty</td>
        </tr>
        <tr>
            <td>
            Payable Development Surcharge
            </td>
            <td style="text-align:center;" >46</td>

            <td style="text-align:right;"class="manual">@Model.NetTaxDevelopmentSurcharge</td>
        </tr>
        <tr>
            <td>
                Payable ICT Development Surcharge
            </td>
            <td style="text-align:center;">47</td>

            <td style="text-align:right;"class="manual">@Model.NetTaxInformationTechnologyDevelopmentSurcharge</td>
        </tr>
        <tr>
            <td>
                Payable Health Care Surcharge
            </td>
            <td style="text-align:center;">48</td>

            <td style="text-align:right;"class="manual">@Model.NetTaxHealthCareSurcharge</td>

        </tr>
        <tr>
            <td>

                Payable Environmental Protection Surcharge


            </td>
            <td style="text-align:center;">49</td>

            <td style="text-align:right;"class="manual">@Model.NetTaxEnvironmentProtectionSurcharge</td>

        </tr>

        <tr>
            <td>

                Net Payable VAT for treasury deposit (35+41+43+44)


            </td>
            <td style="text-align:center;">50</td>

            <td style="text-align:right;">@Model.NetTaxEnvironmentProtectionSurcharge</td>

        </tr>


        <tr>
            <td>

                Net Payable SD for treasury deposit (37+42)


            </td>
            <td style="text-align:center;">51</td>

            <td style="text-align:right;">@Model.NetTaxEnvironmentProtectionSurcharge</td>

        </tr>


        <tr>
            <td>
              Closing Balance of Last Tax Period (VAT)



            </td>
            <td style="text-align:center;">52</td>

            <td style="text-align:right;">@Model.NetTaxVatEndingBalanceOfLastTerm</td>
        </tr>
        <tr>
            <td>
                Closing Balance of Last Tax Period (SD)



            </td>
            <td style="text-align:center;">53</td>

            <td style="text-align:right;">@Model.NetTaxSdEndingBalanceOfLastTerm</td>

        </tr>


    </tbody>


</table>
