@model vms.entity.viewModels.vmCustomer
<div class="accordion mt-3" id="accordionForm">
	<div class="accordion-item">
		<div class="accordion-header" id="headingOtherInformation">
			<button class="accordion-button collapsed vms-accordion-button"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#otherInformation"
				aria-expanded="false"
				aria-controls="otherInformation"
			>
				Others Information
			</button>
		</div>
		<div
			id="otherInformation"
			class="accordion-collapse collapse"
			aria-labelledby="headingOtherInformation"
			data-bs-parent="#accordionForm"
		>
			<div class="accordion-body">
				<div class="row">
					<div class="col-6">
						<div class="form-group mt-3">
							<label class="form-label" asp-for="ReferenceKey"></label>
							<div>
								<input asp-for="ReferenceKey" class="form-control form-control-sm"/>
								<span asp-validation-for="ReferenceKey" class="text-danger"></span>
							</div>
						</div>

					</div>

					<div class="col-6">
						<div class="form-group mt-3">
							<label class="form-label" asp-for="PostCode"></label>
							<div>
								<input asp-for="PostCode" class="form-control form-control-sm"/>
								<span asp-validation-for="PostCode" class="text-danger"></span>
							</div>
						</div>

					</div>

					<div class="col-6">
						<div class="form-group mt-3">
							<label class="form-label" asp-for="ServiceVatCode"></label>
							<div>
								<input asp-for="ServiceVatCode" class="form-control form-control-sm"/>
								<span asp-validation-for="ServiceVatCode" class="text-danger"></span>
							</div>
						</div>

					</div>

					<div class="col-6">
						<div class="form-group mt-3">
							<label asp-for="BusinessNatureId" class="form-label"></label>
							<select asp-for="BusinessNatureId" asp-items="Model.BusinessNatureList.CustomSelectListToSelectList()" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
								<option value="@null">Select Business Nature</option>
							</select>
							<span asp-validation-for="BusinessNatureId" class="text-danger"></span>
						</div>

					</div>

					<div class="col-6">
						<div class="form-group mt-3">
							<label asp-for="BusinessCategoryId" class="form-label"></label>
							<select asp-for="BusinessCategoryId" asp-items="Model.BusinessCategoryList.CustomSelectListToSelectList()" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
								<option value="@null">Select Business Category</option>
							</select>
							<span asp-validation-for="BusinessCategoryId" class="text-danger"></span>
						</div>

					</div>

					<div class="col-6">
						<div class="form-group mt-3">
							<label class="form-label" asp-for="BusinessCategoryDescription"></label>
							<div>
								<input asp-for="BusinessCategoryDescription" class="form-control  form-control-sm"/>
								<span asp-validation-for="BusinessCategoryDescription" class="text-danger"></span>
							</div>
						</div>

					</div>

					<div class="col-6">
						<div class="form-group mt-3">
							<label asp-for="CountryId" class="form-label"></label>
							<select asp-for="CountryId" asp-items="Model.Countries.CustomSelectListToSelectList()" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
								<option value="@null">Select Country</option>
							</select>
							<span asp-validation-for="CountryId" class="text-danger"></span>
						</div>

					</div>

					<div class="col-6">
						<div class="form-group mt-3">
							<label asp-for="DivisionOrStateId" class="form-label"></label>
							<select asp-for="DivisionOrStateId" asp-items="Model.DivisionList.CustomSelectListToSelectList()" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
								<option value="@null">Select Division Or State</option>
							</select>
							<span asp-validation-for="DivisionOrStateId" class="text-danger"></span>
						</div>

					</div>
					<div class="col-6">
						<div class="form-group mt-3">

							<label asp-for="CustomsAndVatcommissionarateId" class="form-label"></label>
							<select asp-for="CustomsAndVatcommissionarateId" asp-items="Model.CustomsAndVatCommissionarates.CustomSelectListToSelectList()" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
								<option value="@null">Select Commission</option>
							</select>
							<span asp-validation-for="CustomsAndVatcommissionarateId" class="text-danger"></span>
						</div>
					</div>



					<div class="col-6">
						<div class="form-group mt-3">
							<label asp-for="DistrictOrCityId" class="form-label"></label>
							<select asp-for="DistrictOrCityId" asp-items="Model.DistrictList.CustomSelectListToSelectList()" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
								<option value="@null">Select District Or City</option>
							</select>
							<span asp-validation-for="DistrictOrCityId" class="text-danger"></span>
						</div>

					</div>
					<div class="col-6">

					</div>

					<div class="col-6">
						<div class="form-group mt-3">
							
							
						</div>
						<div class="form-group mt-3">
							<div class="custom-control custom-checkbox custom-control-inline">
								<input asp-for="IsForeignCustomer" class="custom-control-input"/>
								<label asp-for="IsForeignCustomer" class="custom-control-label">Is Foreign Vendor?</label>
							</div>
						</div>
					</div>
					<div class="col-6">
						
						
					</div>
				</div>
				<div class="row">

					<div class="col-6">
						<div class="form-group mt-3">
							<label asp-for="CreditLimit" class="form-label"></label>
							<input asp-for="CreditLimit" class="form-control form-control-sm" />
							<span asp-validation-for="CreditLimit" class="text-danger"></span>
						</div>

					</div>
					<div class="col-6">
						<div class="form-group mt-3">

							<label asp-for="CreditPeriodInDay" class="form-label"></label>
							<input asp-for="CreditPeriodInDay" class="form-control form-control-sm" />
							<span asp-validation-for="CreditPeriodInDay" class="text-danger"></span>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group mt-5">
							<div class="custom-control custom-checkbox custom-control-inline">
								<input asp-for="IsVds" class="custom-control-input"/>
								<label asp-for="IsVds" class="custom-control-label"></label>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group mt-3">
							<label class="form-label" asp-for="Vdsrate"></label>
							<div>
								<input asp-for="Vdsrate" class="form-control  form-control-sm" readonly="readonly"/>
								<span asp-validation-for="Vdsrate" class="text-danger"></span>
							</div>
						</div>
					</div>

					<div class="col-6">
						<div class="form-group mt-5">
							<div class="custom-control custom-checkbox custom-control-inline">
								<input asp-for="IsTds" class="custom-control-input"/>
								<label asp-for="IsTds" class="custom-control-label"></label>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group mt-3">
							<label class="form-label" asp-for="Tdsrate"></label>
							<div>
								<input asp-for="Tdsrate" class="form-control  form-control-sm" readonly="readonly"/>
								<span asp-validation-for="Tdsrate" class="text-danger"></span>
							</div>
						</div>
					</div>

					<div class="col-6">
						<div class="form-group mt-5">
							<div class="custom-control custom-checkbox custom-control-inline">
								<input asp-for="IsRegisteredUnderActNinetyFour" class="custom-control-input"/>
								<label asp-for="IsRegisteredUnderActNinetyFour" class="custom-control-label"></label>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group mt-3">
							<label class="form-label" asp-for="RegistrationNumberUnderActNinetyFour"></label>
							<div>
								<input asp-for="RegistrationNumberUnderActNinetyFour" class="form-control  form-control-sm" readonly="readonly"/>
								<span asp-validation-for="RegistrationNumberUnderActNinetyFour" class="text-danger"></span>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>