@model vms.entity.viewModels.VmCalculationBookParam

@{
	Layout = "_LayoutMushak";
	ViewData["Title"] = "Mushak-6.1 (Purchase Book)";

}

@section contentheader
{
	<div class="p-3 pb-2 page-header">
		@ViewData["Title"]
		<form method="post">
			<div class="row">

				<div class="col-2">
					<label asp-for="Year" class="form-label"></label>
					<input autocomplete="off" asp-for="Year" class="form-control form-control-sm" />
					<span asp-validation-for="Year" class="text-danger"></span>
				</div>

				<div class="col-2">
					<label asp-for="Month" class="form-label"> </label>
					<select asp-for="Month" asp-items="Html.GetEnumSelectList<EnumMonth>()" class="form-select form-select-sm">
						<option value="@null">Select</option>
					</select>
					<span asp-validation-for="Month" class="text-danger"></span>
				</div>

				<div class="col-5">
					<label asp-for="ProductId" class="form-label"> </label>
					<select asp-for="ProductId" asp-items="Model.PriceSetupList" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
						<option value="@null">Select</option>
					</select>
					<span asp-validation-for="ProductId" class="text-danger"></span>
				</div>

				<div class="col-3">
					<label asp-for="OgrBranchId" class="form-label"> </label>
					<select asp-for="OgrBranchId" asp-items="Model.BranchList.CustomSelectListToSelectList()" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
						<option value="@null">Select</option>
					</select>
					<span asp-validation-for="OgrBranchId" class="text-danger"></span>
				</div>

				<div class="col-2">
					<label asp-for="Language" class="form-label"> </label>
					<select asp-for="Language" asp-items="Html.GetEnumSelectList<EnumLanguage>()" class="form-select form-select-sm">
						<option value="@null">Select</option>
					</select>
					<span asp-validation-for="Language" class="text-danger"></span>
				</div>

				<div class="col-4">
					<button type="submit" class="btn btn-sm btn-success inline-sm-button"><i class="bi bi-file-text"></i> View</button>
					<button type="button" id="btnPrint" class="btn btn-sm btn-primary inline-sm-button"><i class="bi bi-printer-fill"></i> Print</button>
					<button type="submit" class="btn btn-sm btn-warning inline-sm-button" asp-action="MushakSixPointOneExportToExcel"><i class="bi bi-file-excel-fill"></i> Export to Excel</button>
					@*<div class="dropdown">
						<button class="btn btn-sm btn-secondary dropdown-toggle inline-sm-button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
							Action
						</button>
						<ul class="dropdown-menu gap-2" aria-labelledby="dropdownMenuButton1">
							<li class="d-grid"><button type="submit" class="btn btn-sm btn-success"><i class="bi bi-file-text"></i> View</button></li>
							<li class="d-grid pt-1"><button type="button" id="btnPrint" class="btn btn-sm btn-block btn-primary"><i class="bi bi-printer-fill"></i> Print</button></li>
							<li class="d-grid pt-1"><button type="submit" class="btn btn-sm btn-block btn-warning" asp-action="MushakSixPointOneExportToExcel"><i class="bi bi-file-excel-fill"></i> Export Excel</button></li>
						</ul>
					</div>*@
				</div>
			</div>
		</form>
	</div>

}

<div class="gray-slim-scroll-container">
	<div class="long-table-scroll-container">
		<div class="report-section">
			<div id="printableArea" class="report-margin">
				@if (Model.OgrId != 0)
				{
					switch (Model.Language)
					{
						case 0:
							<partial name="MushakPartial/_MushakSixPointOneBan" model="@Model"/>
							break;
						case 1:
							<partial name="MushakPartial/_MushakSixPointOneEng" model="@Model"/>
							break;
					}
				}
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script>
		$("#btnPrint").click(function() {
			window.vmsPrint.printA3Landscape('printableArea');
		});
	</script>
}