@model IEnumerable<vms.entity.StoredProcedureModel.HighValue.SpPurcSalesChallanForHighValueSale>
<h4>অংশ-খ : বিক্রয় হিসাব তথ্য</h4>
    <table class="table table-bordered">
      
        <tbody class="Returntd">

            <tr class="">
                <td rowspan="2" style="text-align:center;"> ক্রমিক নং :</td>
                <td colspan="6" style="text-align:center;">বিক্রয়</td>

            </tr>
            <tr class="">
              
                <td style="text-align:center;">চালান পত্র নং</td>
                <td style="text-align:center;">ইস্যুর তারিখ</td>
                <td style="text-align:center;">মূল্য</td>
                <td style="text-align:center;">ক্রেতার নাম</td>
                <td style="text-align:center;">ক্রেতার ঠিকানা</td>
                <td style="text-align:center;">ক্রেতার বিআইএন/জাতীয় পরিচয় পত্র নং *</td>

            </tr>

            <tr>

                <td style="text-align:center;">(১)</td>
                <td style="text-align:center;">(২)</td>
                <td style="text-align:center;">(৩)</td>
                <td style="text-align:center;">(৪)</td>
                <td style="text-align:center;">(৫)</td>
                <td style="text-align:center;">(৬)</td>
                <td style="text-align:center;">(৭)</td>




            </tr>





            @if (Model.Any())
            {

                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Sl</td>
                        <td>@item.VatChallanNo</td>
                        <td>@item.SalesDate</td>
                        <td>@item.TotalPriceWithoutVat</td>
                        <td>@item.CustomerName</td>
                        <td>@item.CustomerAddress</td>
                        <td>@item.CustomerBIN</td>
                    </tr>

                }
            }
        </tbody>
    </table>