@model vms.entity.viewModels.BranchTransferSend.BranchTransferSendCreateViewModel


<div class="col-md-5">
	<div class="font-weight-bold mb-3">
		Main Information
	</div>
	<form class="row g-3" method="post" id="frmMainInformation">
		<div class="col-md-6 complex-form-col">
			<label asp-for="SenderBranchId" class="form-label complex-form-label"></label>
			<select asp-for="SenderBranchId" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
				<option value="@null">Select Sender Branch</option>
				@if (Model.OrgBranchList.Any())
				{
					foreach (var branch in Model.OrgBranchList)
					{
						<option value="@branch.OrgBranchId"
						        data-address="@branch.Address">
							@branch.Name
						</option>
					}
				}
			</select>
			<span asp-validation-for="SenderBranchId" class="text-danger"></span>
		</div>

		<div class="col-md-6 complex-form-col">
			<label asp-for="ReceiverBranchId" class="form-label complex-form-label"></label>
			<select asp-for="ReceiverBranchId" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
				<option value="@null">Select Receiver Branch</option>
				@if (Model.OrgBranchList.Any())
				{
					foreach (var branch in Model.OrgBranchList)
					{
						<option value="@branch.OrgBranchId"
						data-address="@branch.Address">
							@branch.Name
						</option>
					}
				}
			</select>
			<span asp-validation-for="ReceiverBranchId" class="text-danger"></span>
		</div>

		<div class="col-md-6 complex-form-col">
			<label asp-for="InvoiceNo" class="form-label complex-form-label"></label>
			<input type="text" asp-for="InvoiceNo" class="form-control form-control-sm">
			<span asp-validation-for="InvoiceNo" class="text-danger"></span>
		</div>
		<div class="col-md-6 complex-form-col">
			<label asp-for="InvoiceDate" class="form-label complex-form-label"></label>
			<input type="date" asp-for="InvoiceDate" class="form-control form-control-sm" placeholder="dd-mm-yyyy" min='2000-01-01' max='@DateTime.Now.ToString("yyyy-MM-dd")'>
			<span asp-validation-for="InvoiceDate" class="text-danger"></span>
		</div>
		<div class="col-md-6 complex-form-col">
			<label asp-for="DeliveryDate" class="form-label complex-form-label"></label>
			<input type="date" asp-for="DeliveryDate" class="form-control form-control-sm" min='2000-01-01' max='@DateTime.Now.ToString("yyyy-MM-dd")'>
			<span asp-validation-for="DeliveryDate" class="text-danger"></span>
		</div>
		<div class="col-md-6 complex-form-col">
			<label asp-for="ReceiverName" class="form-label complex-form-label"></label>
			<input type="text" asp-for="ReceiverName" class="form-control form-control-sm">
			<span asp-validation-for="ReceiverName" class="text-danger"></span>
		</div>

		<div class="col-md-6 complex-form-col">
			<label asp-for="ReceiverContactNo" class="form-label complex-form-label"></label>
			<input type="text" asp-for="ReceiverContactNo" class="form-control form-control-sm" placeholder="01####">
			<span asp-validation-for="ReceiverContactNo" class="text-danger"></span>
		</div>

		<div class="col-md-6 complex-form-col">
			<label asp-for="ShippingAddress" class="form-label complex-form-label"></label>
			<input type="text" asp-for="ShippingAddress" class="form-control form-control-sm">
			<span asp-validation-for="ShippingAddress" class="text-danger"></span>
		</div>

		<div class="col-md-6 complex-form-col">
			<label asp-for="VehicleTypeId" class="form-label complex-form-label"></label>
			<select asp-for="VehicleTypeId" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
				<option value="@null">Select VehicleType</option>
				@if (Model.VehicleTypesList.Any())
				{
					foreach (var vehicleType in Model.VehicleTypesList)
					{
						<option value="@vehicleType.VehicleTypeId"
						        data-Is-Require-Registration="@vehicleType.IsRequireRegistration">
							@vehicleType.VehicleTypeName
						</option>
					}
				}
			</select>
			<span asp-validation-for="VehicleTypeId" class="text-danger"></span>
		</div>

		<div class="col-md-6 complex-form-col">
			<label asp-for="DriverName" class="form-label complex-form-label"></label>
			<input type="text" asp-for="DriverName" class="form-control form-control-sm">
			<span asp-validation-for="DriverName" class="text-danger"></span>
		</div>

		<div class="col-md-6 complex-form-col">
			<label asp-for="DriverMobile" class="form-label complex-form-label"></label>
			<input type="text" asp-for="DriverMobile" class="form-control form-control-sm">
			<span asp-validation-for="DriverMobile" class="text-danger"></span>
		</div>

		<div class="col-md-6 complex-form-col vehicle-registration-no d-none">
			<label asp-for="VehicleRegistrationNo" class="form-label complex-form-label"></label>
			<input type="text" asp-for="VehicleRegistrationNo" class="form-control form-control-sm">
			<span asp-validation-for="VehicleRegistrationNo" class="text-danger"></span>
		</div>
	</form>
</div>