@model vms.entity.viewModels.VmCalculationBookParam



    <div class="row">

        <div class="col-12">
            <div class="mushak-name">Mushak- 6.2</div>
        </div>
        <div class="col-12 report-header">
        
            <div class="company-other-info">"Government of the People's Republic of Bangladesh"</div>
            <div class="company-other-info">National Board of Revenue (NBR)</div>
            <div class="company-name mt-2">@Model.OrgName</div>
            <div class="company-other-info">@Model.OrgAddress</div>
            <div class="company-other-info">@Model.OrgBin</div>
            <div class="sub-header">
                Sales Ledger
            </div>
            <div class="sub-header">
                (Applicable to registered or enlisted persons involved in the processing of goods or services)
            </div>
            <div class="sub-header">
                [Note clause (a) of rule 40 (1) and clause (a) of rule 41]

            </div>
        </div>
    <div class="col-12">

        <table class="table table-bordered align-middle" style="text-align:center">
            <thead>
            <tr>
	            <td colspan="21">Sales of Product/Service</td>
            </tr>
                <tr>
                    <td rowspan="2">
                        Serial No.
                    </td>
                    <td rowspan="2">
                        Date
                    </td>
                    <td colspan="2">
                        Initial Cost of the Product/Service Produced
                    </td>
                    <td colspan="2">
                        Production
                    </td>
                    <td colspan="2">
                        Total Products/Services Produced
                    </td>
                    <td colspan="3">
                        Buyer/Supplier
                    </td>
                    <td colspan="2">
                        Invoice Details
                    </td>
                    <td colspan="5">
                        Description of Products Sold/Supplied
                    </td>
                    <td colspan="2">
                        Product Margin
                    </td>
                    <td rowspan="2">
                        Remarks
                    </td>

                </tr>
                <tr>
                    <td>
                        Quantity (Unit)
                    </td>
                    <td>
                        Price (Excluding All Types of Taxes)
                    </td>
                    <td>
                        Quantity (Unit)
                    </td>
                    <td>
                        Price (Excluding All Types of Taxes)
                    </td>
                    <td>
                        Quantity (Unit)
                    </td>
                    <td>
                        Price (Excluding All Types of Taxes)
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        Address
                    </td>
                    <td>
                        Registration/Enrollment/National Identity Card
                    </td>
                    <td>
                        Number
                    </td>
                    <td>
                        Date
                    </td>
                    <td>
                        Description
                    </td>
                    <td>
                        Quantity
                    </td>
                    <td>
                        Taxable Value (All Types)
                    </td>
                    <td>
                        Supplementary Duty (If Any)
                    </td>
                    <td>
                        Mushak
                    </td>
                    <td>
                        Quantity (Unit)
                    </td>
                    <td>
                        Price (Excluding All Types of Taxes)
                    </td>

                </tr>

                <tr>
                    <td>(1)</td>
                    <td>(2)</td>
                    <td>(3)</td>
                    <td>(4)</td>
                    <td>(5)</td>
                    <td>(6)</td>
                    <td>(7)</td>
                    <td>(8)</td>
                    <td>(9)</td>
                    <td>(10)</td>
                    <td>(11)</td>
                    <td>(12)</td>
                    <td>(13)</td>
                    <td>(14)</td>
                    <td>(15)</td>
                    <td>(16)</td>
                    <td>(17)</td>
                    <td>(18)</td>
                    <td>(19)</td>
                    <td>(20)</td>
                    <td>(21)</td>
                </tr>
            </thead>
            <tbody style="text-align:center">
                @if (Model.SaleCalcBook.Count() > 0)
                {
                    foreach (var type in Model.SaleCalcBook)
                    {
                <tr>
	                <td class="text-right">@type.SlNo</td>
                    <td>@type.OperationTime</td>
                    <td class="text-right">@StringGenerator.DecimalToCommaSeparated(type.InitialQty) (@type.MeasurementUnitName)</td>
                    <td class="text-right">@StringGenerator.DecimalToCommaSeparated(type.InitPriceWithoutVat)</td>
                    <td class="text-right">@StringGenerator.DecimalToCommaSeparated(type.ProductionQty) (@type.MeasurementUnitName)</td>
	                <td class="text-right">@StringGenerator.DecimalToCommaSeparated(@type.PriceOfProdFromProduction)</td>
                    <td class="text-right">@StringGenerator.DecimalToCommaSeparated(type.TotalProductionQty) (@type.MeasurementUnitName)</td>
                    <td class="text-right">@StringGenerator.DecimalToCommaSeparated(type.TotalProductionPrice)</td>
                    <td>@type.CustomerName</td>
                    <td>@type.CustomerAddress</td>
                    <td>@type.CustomerBinOrNid</td>
                    <td>@type.VatChallanNo</td>
                    <td>@type.SalesDate</td>
                    <td>@type.ProductName</td>
                    <td class="text-right">@StringGenerator.DecimalToCommaSeparated(type.SalesQty) (@type.MeasurementUnitName)</td>
                    <td class="text-right">@StringGenerator.DecimalToCommaSeparated(type.TaxablePrice)</td>
                    <td class="text-right">@StringGenerator.DecimalToCommaSeparated(type.SupplementaryDuty)</td>
                    <td class="text-right">@StringGenerator.DecimalToCommaSeparated(type.ProdVatAmount)</td>
                    <td class="text-right">@StringGenerator.DecimalToCommaSeparated(type.ClosingProdQty) (@type.MeasurementUnitName)</td>
                    <td class="text-right">@StringGenerator.DecimalToCommaSeparated(type.ClosingProdPrice)</td>
                    <td></td>
                </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="21">
                            No Data Found
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
    <div class="col-12 mt-3">
        <div class="special-note-title">Special Note:</div>

        <div class="special-note-items">
            <div class="special-note-list-item">
                * In case the goods are to be purchased from an unregistered person or the goods are to be sold from an unregistered person, the full name, address and national identity card number of that person are appropriately related columns [(9), (10), (11)] must be mentioned.
            </div>
        </div>
        
    </div>
</div>
