@model vms.entity.models.Organization
@{
    ViewData["Title"] = "Branch Create";
        
}

@section contentheader
    {
    <div class="p-3 page-header">
       
            Branch Create
        
        <div class="d-flex justify-content-start">


        </div>
    </div>
    <div class="col-12 d-flex">
        <ul class="nav nav-pills mt-3 mr-auto align-bottom">
        </ul>
        @using (Html.BeginForm("", "", FormMethod.Get, new { id = "frmPurchase", @class = "d-flex pr-1" }))
        {

        }
    </div>
}


<div class="row">
    <div class="col-md-4 offset-4">
        <form asp-action="AddBranch" class="form-horizontal" id="frmusercreate">
            <div class="form-body">
                <div class="form-group required">
                    <label class="form-label">Name</label>
                    <div>
                        <input asp-for="Name" class="form-control form-control-sm" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group required mt-3">
                    <label class="form-label">Address</label>
                    <div>
                        <input asp-for="Address" class="form-control form-control-sm" />
                        <span asp-validation-for="Address" class="text-danger"></span>

                    </div>
                </div>

                <div class="form-group mt-3">
                    <label class="form-label">Postal Code </label>
                    <div>
                        <input asp-for="PostalCode" class="form-control form-control-sm" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group required mt-3">
                    <label class="form-label">City</label>
                    <div>
                        @Html.DropDownListFor(model => Model.SelectedCityId, new SelectList(Model.CityIds, "Key", "Value", Model.SelectedCityId), "Select", new { @class = "form-select form-select-sm" })
                        <span asp-validation-for="SelectedCityId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group required mt-3">
                    <label class="form-label">Country</label>
                    <div>
                        @Html.DropDownListFor(model => Model.SelectedCountryId, new SelectList(Model.CountryIds, "Key", "Value", Model.SelectedCountryId), "Select", new { @class = "form-select form-select-sm" })
                        <span asp-validation-for="SelectedCountryId" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group required mt-3">
                    <label class="form-label">Business Nature</label>
                    <div>
                        @Html.DropDownListFor(model => Model.SelectedBusinessNatureId, new SelectList(Model.BusinessNatures, "Key", "Value", Model.SelectedBusinessNatureId), "Select", new { @class = "form-select form-select-sm" })
                        <span asp-validation-for="SelectedBusinessNatureId" class="text-danger"></span>

                    </div>
                </div>


                <div class="form-group required mt-3">
                    <label class="form-label">Business Category</label>
                    <div>
                        @Html.DropDownListFor(model => Model.SelectedBusinessCategoryId, new SelectList(Model.BusinessCategories, "Key", "Value", Model.SelectedBusinessNatureId), "Select", new { @class = "form-select form-select-sm" })
                        <span asp-validation-for="SelectedBusinessCategoryId" class="text-danger"></span>

                    </div>
                </div>


                <div class="form-group required mt-3">
                    <label class="form-label">Financial Activity</label>
                    <div>
                        @Html.DropDownListFor(model => Model.SelectedFinancialActivityNatureId, new SelectList(Model.FinancialActivityNatures, "Key", "Value", Model.SelectedFinancialActivityNatureId), "Select", new { @class = "form-select form-select-sm" })
                        <span asp-validation-for="SelectedFinancialActivityNatureId" class="text-danger"></span>

                    </div>
                </div>



                <div class="form-group required mt-3">
                    <label class="form-label">VAT Responsible Person Name</label>
                    <div>
                        <input asp-for="VatResponsiblePersonName" class="form-control form-control-sm" />
                        <span asp-validation-for="VatResponsiblePersonName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group required mt-3">
                    <label class="form-label">VAT Responsible Person Designation</label>
                    <div>
                        <input asp-for="VatResponsiblePersonDesignation" class="form-control form-control-sm" />
                        <span asp-validation-for="VatResponsiblePersonDesignation" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group required mt-3">
                    <label class="form-label">Vat Person Email</label>
                    <div>
                        <input asp-for="VatResponsiblePersonEmailAddress" class="form-control form-control-sm" />
                        <span asp-validation-for="VatResponsiblePersonEmailAddress" class="text-danger"></span>


                    </div>
                </div>
                <div class="form-group required mt-3">
                    <label class="form-label">VAT Responsible Person Mobile</label>
                    <div>
                        <input asp-for="VatResponsiblePersonMobileNo" class="form-control form-control-sm" />
                        <span asp-validation-for="VatResponsiblePersonMobileNo" class="text-danger"></span>


                    </div>
                </div>



                <div class="form-group required mt-3">
                    <label class="form-label">User Name</label>
                    <div>
                        <input asp-for="UserName" class="form-control form-control-sm" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label class="form-label">Mobile: </label>
                    <div>
                        <input asp-for="Mobile" class="form-control form-control-sm" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label class="form-label">Email Address: </label>
                    <div>
                        <input asp-for="EmailAddress" class="form-control form-control-sm" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group required q_element mt-3">
                    <label class="form-label">Customs &amp; VAT Commissionerate</label>
                    <div>

                        @Html.DropDownListFor(x => Model.CustomsAndVatcommissionarateId, new SelectList(Model.CustomsAndVatCommissionarates, "Id", "Name"), "Select", htmlAttributes: new { @class = "form-select form-select-sm" })
                        <span asp-validation-for="CustomsAndVatcommissionarateId" class="text-danger"></span>
                    </div>
                </div>



                <div class="form-group">
                    <label class="form-label"></label>
                    <div class="">
                        <div class="mt-checkbox-list">
                            <label class="mt-checkbox col-md-12 text-left">
                                <input type="checkbox" asp-for="IsDeductVatInSource">Is VDS?
                                <span asp-validation-for="IsDeductVatInSource" class="text-danger"></span>
                                <span></span>
                            </label>

                        </div>
                    </div>
                </div>
            </div>

        <div class="text-right mt-3 float-end">
                <button type="submit" data-requiredconfirmation="true" class="btn  btn-primary btn-sm"><i class="bi bi-check-lg"></i> Submit</button>
                <button type="button" value="Reset" class="btn  btn-warning btn-sm" onclick="location.reload();"><i class="bi bi-arrow-repeat"></i> Reset</button>
                <a asp-action="Index" class="btn btn-secondary btn-sm"><i class="bi bi-slash-circle"></i> Cancel</a>
           </div>

        </form>
    </div>
</div>
