@model vms.entity.viewModels.VmSaleExport

    <div class="col-md-8 form-1">
        <div class="font-weight-bold mb-3">
            Main Information
        </div>
        <form class="row g-3" id="frmMainInformation" method="post">

            <div class="col-md-4 complex-form-col">
                <label asp-for="OrgBranchId" ></label>
                <select asp-for="OrgBranchId" asp-items="Model.OrgBranchList.CustomSelectListToSelectList()" >
                    <option value="@null">Select Branch</option>
                </select>
                <span asp-validation-for="OrgBranchId" ></span>
            </div>
            <div class="col-md-4 complex-form-col d-none">
                <label asp-for="ExportTypeId" ></label>
            <select asp-for="ExportTypeId" asp-items="Model.ExportTypeSelectList.CustomSelectListToSelectList()">
                    <option value="@null">Select ExportType</option>
                </select>
                <span asp-validation-for="ExportTypeId" ></span>
            </div>

            <div class="col-md-4 complex-form-col">
                <label asp-for="CustomerId" ></label>
                <select asp-for="CustomerId" >
                    @*<select asp-for="CustomerId" class="form-select form-select-sm">*@
                        <option value="@null">Select Customer</option>
                        @if (Model.CustomerList.Any())
                        {
                            foreach (var customer in Model.CustomerList)
                            {
                                <option value="@customer.CustomerId"
                                        data-address="@customer.DeliveryAddress"
                                        data-rec-mobile="@customer.DeliveryContactPersonMobile"
                                        data-rec-name="@customer.DeliveryContactPerson"
                                        data-cus-mobile="@customer.PhoneNo"
                                        data-del-country="@customer.DeliveryCountryId">
                                    @customer.Name
                                </option>
                            }
                        }
                    </select>
                    <span asp-validation-for="CustomerId" ></span>
</div>
            <div class="col-md-4 complex-form-col">
                <label asp-for="CustomerPhoneNumber" ></label>
                <input type="text" asp-for="CustomerPhoneNumber"  placeholder="01####">
                <span asp-validation-for="CustomerPhoneNumber" ></span>
            </div>
            <div class="col-md-4 complex-form-col">
                <label asp-for="WorkOrderNo" ></label>
                <input type="text" asp-for="WorkOrderNo"  placeholder="##">
                <span asp-validation-for="WorkOrderNo" ></span>
            </div>
            <div class="col-md-4 complex-form-col d-none">
                <label asp-for="SalesDeliveryTypeId" ></label>
                <select asp-for="SalesDeliveryTypeId" asp-items="Model.DeliveryMethodSelectList.CustomSelectListToSelectList()" >
                    <option value="@null">Select Method</option>
                </select>
                <span asp-validation-for="SalesDeliveryTypeId" ></span>
            </div>
            <div class="col-md-4 complex-form-col">
                <label asp-for="DeliveryDate" ></label>
                <input type="date" asp-for="DeliveryDate" min='2000-01-01' max='@DateTime.Now.ToString("yyyy-MM-dd")' >
                <span asp-validation-for="DeliveryDate" ></span>
            </div>
            <div class="col-md-4 complex-form-col">
                <label asp-for="ReceiverName" ></label>
                <input type="text" asp-for="ReceiverName" >
                <span asp-validation-for="ReceiverName" ></span>
            </div>

            <div class="col-md-4 complex-form-col">
                <label asp-for="ReceiverContactNo" ></label>
                <input type="text" asp-for="ReceiverContactNo"  placeholder="01####">
                <span asp-validation-for="ReceiverContactNo" ></span>
            </div>

            <div class="col-md-4 complex-form-col">
                <label asp-for="ShippingAddress" ></label>
                <input type="text" asp-for="ShippingAddress" >
                <span asp-validation-for="ShippingAddress" ></span>
            </div>

            <div class="col-md-4 complex-form-col">
                <label asp-for="ShippingCountryId" ></label>
                <select asp-for="ShippingCountryId" asp-items="Model.CountrySelectList.CustomSelectListToSelectList()" >
                    <option value="@null">Select Country</option>
                </select>
                <span asp-validation-for="ShippingCountryId" ></span>
            </div>

            <div class="col-md-4 complex-form-col">
                <label asp-for="LcNo" ></label>
                <input type="text" asp-for="LcNo" >
                <span asp-validation-for="LcNo" ></span>
            </div>

            <div class="col-md-4 complex-form-col d-none">
                <label asp-for="LcDate" ></label>
                <input type="date" asp-for="LcDate" min='2000-01-01' max='@DateTime.Now.ToString("yyyy-MM-dd")' >
                <span asp-validation-for="LcDate" ></span>
            </div>

            <div class="col-md-4 complex-form-col">
                <label asp-for="BillOfEntry" ></label>
                <input type="text" asp-for="BillOfEntry" >
                <span asp-validation-for="BillOfEntry" ></span>
            </div>

            <div class="col-md-4 complex-form-col">
                <label asp-for="BillOfEntryDate" ></label>
                <input type="date" asp-for="BillOfEntryDate" min='2000-01-01' max='@DateTime.Now.ToString("yyyy-MM-dd")' >
                <span asp-validation-for="BillOfEntryDate" ></span>
            </div>

            <div class="col-md-4 complex-form-col d-none">
                <label asp-for="TermsOfLc" ></label>
                <input type="text" asp-for="TermsOfLc" >
                <span asp-validation-for="TermsOfLc" ></span>
            </div>

            <div class="col-md-4 complex-form-col d-none">
                <label asp-for="DueDate" ></label>
                <input type="date" asp-for="DueDate" min='2000-01-01' max='@DateTime.Now.ToString("yyyy-MM-dd")' >
                <span asp-validation-for="DueDate" ></span>
            </div>

            <div class="col-md-4 complex-form-col d-none">
                <label asp-for="PONo" ></label>
                <input type="text" asp-for="PONo" >
                <span asp-validation-for="PONo" ></span>
            </div>
            @*Vechile Information*@
            <div class="col-md-4 complex-form-col d-none">
                <label asp-for="VehicleTypeId" ></label>
                <select asp-for="VehicleTypeId" >
                    <option value="@null">Select VehicleType</option>
                    @if (Model.VehicleTypesList.Any())
                    {
                        foreach (var VehicleType in Model.VehicleTypesList)
                        {
                            <option value="@VehicleType.VehicleTypeId"
                                    data-Is-Require-Registration="@VehicleType.IsRequireRegistration">
                                @VehicleType.VehicleTypeName
                            </option>
                        }
                    }
                </select>
                <span asp-validation-for="VehicleTypeId" ></span>
            </div>

            <div class="col-md-4 complex-form-col d-none">
                <label asp-for="DriverName" ></label>
                <input type="text" asp-for="DriverName" >
                <span asp-validation-for="DriverName" ></span>
            </div>

            <div class="col-md-4 complex-form-col d-none">
                <label asp-for="DriverMobile" ></label>
                <input type="text" asp-for="DriverMobile" >
                <span asp-validation-for="DriverMobile" ></span>
            </div>

            <div class="col-md-4 complex-form-col vehicle-registration-no d-none">
                <label asp-for="VehicleRegistrationNo" ></label>
                <input type="text" asp-for="VehicleRegistrationNo" >
                <span asp-validation-for="VehicleRegistrationNo" ></span>
            </div>

        </form>
    </div>
    