@model vms.entity.viewModels.VmPurchaseImport

<div class="font-weight-bold mb-3">
	Main Information
</div>
<form method="post" class="g-3" id="frmMainInformation">
	<div class="row mb-3">
		<label asp-for="OrgBranchId" class="col-sm-4 col-form-label"></label>
		<div class="col-sm-8">
			<select asp-for="OrgBranchId" asp-items="Model.OrgBranchList.CustomSelectListToSelectList()" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
				<option value="@null">Select Branch</option>
			</select>
			<span asp-validation-for="OrgBranchId" class="text-danger"></span>
		</div>
	</div>
	<div class="row mb-3">
		<label asp-for="PurchaseReasonId" class="col-sm-4 col-form-label"></label>
		<div class="col-sm-8">
			<select asp-for="PurchaseReasonId" asp-items="Model.PurchaseReasonSelectList.CustomSelectListToSelectList()" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
				<option value="@null">Select Reason</option>
			</select>
			<span asp-validation-for="PurchaseReasonId" class="text-danger"></span>
		</div>
	</div>

	<div class="row mb-3">
		<label asp-for="VendorId" class="col-sm-4 col-form-label"></label>
		<div class="col-sm-8">
			<select asp-for="VendorId" asp-items="Model.VendorSelectList.CustomSelectListToSelectList()" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
				<option value="@null">Select Vendor</option>
			</select>
			<span asp-validation-for="VendorId" class="text-danger"></span>
		</div>
	</div>
	<div class="row mb-3">
		<label asp-for="VendorInvoiceNo" class="col-sm-4 col-form-label"></label>
		<div class="col-sm-8">
			<input type="text" asp-for="VendorInvoiceNo" class="form-control form-control-sm">
			<span asp-validation-for="VendorInvoiceNo" class="text-danger"></span>
		</div>
	</div>

	<div class="row mb-3">
		<label asp-for="LcNo" class="col-sm-4 col-form-label"></label>
		<div class="col-sm-8">
			<input type="text" asp-for="LcNo" class="form-control form-control-sm">
			<span asp-validation-for="LcNo" class="text-danger"></span>
		</div>
	</div>

	<div class="row mb-3">
		<label asp-for="LcDate" class="col-sm-4 col-form-label"></label>
		<div class="col-sm-8">
			<input type="date" asp-for="LcDate" min='2000-01-01' max='2050-12-12' class="form-control form-control-sm">
			<span asp-validation-for="LcDate" class="text-danger"></span>
		</div>
	</div>

	<div class="row mb-3">
		<label asp-for="BillOfEntry" class="col-sm-4 col-form-label"></label>
		<div class="col-sm-8">
			<input type="text" asp-for="BillOfEntry" class="form-control form-control-sm">
			<span asp-validation-for="BillOfEntry" class="text-danger"></span>
		</div>
	</div>

	<div class="row mb-3">
		<label asp-for="BillOfEntryDate" class="col-sm-4 col-form-label"></label>
		<div class="col-sm-8">
			<input type="date" asp-for="BillOfEntryDate" min='2000-01-01' max='2050-12-12' class="form-control form-control-sm">
			<span asp-validation-for="BillOfEntryDate" class="text-danger"></span>
		</div>
	</div>

	<div class="row mb-3">
		<label asp-for="DueDate" class="col-sm-4 col-form-label"></label>
		<div class="col-sm-8">
			<input type="date" asp-for="DueDate" min='2000-01-01' max='2050-12-12' class="form-control form-control-sm">
			<span asp-validation-for="DueDate" class="text-danger"></span>
		</div>
	</div>

	<div class="row mb-3">
		<label asp-for="TermsOfLc" class="col-sm-4 col-form-label"></label>
		<div class="col-sm-8">
			<input type="text" asp-for="TermsOfLc" class="form-control form-control-sm">
			<span asp-validation-for="TermsOfLc" class="text-danger"></span>
		</div>
	</div>

	@*<div class="row mb-3">
        <label asp-for="PoNo" class="col-sm-4 col-form-label"></label><div class="col-sm-8">
        <input type="text" asp-for="PoNo" class="form-control form-control-sm">
    <span asp-validation-for="PoNo" class="text-danger"></span>
    </div>
    </div>*@

	<div class="col-md-6 complex-form-col d-none">
		<label asp-for="InvoiceNo" class="col-sm-4 col-form-label"></label>
		<div class="col-sm-8">
			<input type="text" asp-for="InvoiceNo" class="form-control form-control-sm">
			<span asp-validation-for="InvoiceNo" class="text-danger"></span>
		</div>
	</div>
	<div class="row mb-3">
		<label asp-for="VoucherNo" class="col-sm-4 col-form-label"></label>
		<div class="col-sm-8">
			<input type="text" asp-for="VoucherNo" class="form-control form-control-sm">
			<span asp-validation-for="VoucherNo" class="text-danger"></span>
		</div>
	</div>
	<div class="row mb-3">
		<label asp-for="PurchaseDate" class="col-sm-4 col-form-label"></label>
		<div class="col-sm-8">
			<input type="date" asp-for="PurchaseDate" min='2000-01-01' max='@DateTime.Now.ToString("yyyy-MM-dd")' class="form-control form-control-sm">
			<span asp-validation-for="PurchaseDate" class="text-danger"></span>
		</div>
	</div>

	@*<div class="row mb-3">
        <label asp-for="AtpDate" class="col-sm-4 col-form-label"></label><div class="col-sm-8">
        <input type="date" asp-for="AtpDate" min='2000-01-01' max='2050-12-12' class="form-control form-control-sm">
        <span asp-validation-for="AtpDate" class="text-danger"></span>
    </div>
    </div>


    <div class="row mb-3">
        <label asp-for="VatCommissionarate" class="col-sm-4 col-form-label"></label><div class="col-sm-8">
        <select asp-for="VatCommissionarate" asp-items="Model.VatCommissionarateList" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
            <option value="@null">Vat Commissionarate</option>
        </select>
    <span asp-validation-for="VatCommissionarate" class="text-danger"></span>
    </div>
    </div>

    <div class="row mb-3">
        <label asp-for="AtpbankId" class="col-sm-4 col-form-label"></label><div class="col-sm-8">
        <select asp-for="AtpbankId" asp-items="Model.AtpBankList" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
            <option value="@null">Select Bank</option>
        </select>
    <span asp-validation-for="AtpbankId" class="text-danger"></span>
    </div>
    </div>

    <div class="row mb-3">
        <label asp-for="AtpbankBranchName" class="col-sm-4 col-form-label"></label><div class="col-sm-8">
        <input type="text" asp-for="AtpbankBranchName" class="form-control form-control-sm">
    <span asp-validation-for="AtpbankBranchName" class="text-danger"></span>
    </div>
    </div>

    <div class="col-md-6 complex-form-col d-none">
        <input type="hidden" asp-for="EconomicCodeId" class="form-control form-control-sm">
    </div>

    <div class="row mb-3">
        <label asp-for="AtpchallanNo" class="col-sm-4 col-form-label"></label><div class="col-sm-8">
        <input type="text" asp-for="AtpchallanNo" class="form-control form-control-sm">
    <span asp-validation-for="AtpchallanNo" class="text-danger"></span>
    </div>
    </div>

    <div class="row mb-3">
        <label asp-for="AdvTaxPaidAmount" class="col-sm-4 col-form-label"></label><div class="col-sm-8">
        <input type="text" asp-for="AdvTaxPaidAmount" class="form-control form-control-sm">
    <span asp-validation-for="AdvTaxPaidAmount" class="text-danger"></span>
    </div>
    </div>*@

</form>