@{
    ViewData["Title"] = "Index";
}




<input type="hidden" class="form-control" id="ProductId" name="ProductId" />

<div class="custom-page-title">
    Purchase Local
</div>
<form method="post" id="purchaseLocalFrm">
    <div class="row">
        <div class="col-md-8">
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group form-md-line-input has-info">

                        <select id="VendorId" name="VendorId" class="form-control" asp-items="ViewBag.VendorId"></select>
                        <label>Vendor  </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-md-line-input has-info">
                        <div>
                            <select id="PurchaseReasonId" name="PurchaseReasonId" class="form-control" asp-items="ViewBag.PurchaseReasonId"></select>
                            <label> Reason  </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-md-line-input">
                        <div>
                            <input type="text" class="form-control" id="VendorInvoiceNo" name="VendorInvoiceNo" placeholder="#">
                            <label style="color:#327ad5;">Vendor Invo.</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group form-md-line-input">
                        <div>
                            <input type="text" class="form-control" id="InvoiceNo" name="InvoiceNo" placeholder="#">
                            <label style="color:#327ad5;"> Invoice No.</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" hidden>
                    <div class="form-group form-md-line-input has-info">
                        <div>
                            <select id="PurchaseTypeId" name="PurchaseTypeId" class="form-control" asp-items="ViewBag.PurchaseTypeId"></select>
                            <label>Purchase Type</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group form-md-line-input">
                        <div>
                            <input type="text" class="form-control" id="Discount" name="Discount" placeholder="00" value="0">
                            <label style="color:#327ad5;">Disc.Total</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-md-line-input">
                        <div>
                            <input type="text" class="form-control" id="VatChallanNo" name="VatChallanNo" placeholder="#">
                            <label style="color:#327ad5;">Vat Challan No.</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-md-line-input">
                        <div>
                            <input type="text" class="form-control" id="VatChallanIssueDate" name="VatChallanIssueDate" value="@DateTime.Now">
                            <label style="color:#327ad5;">Challan Date</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mt-repeater-input mt-radio-inline">
                        <input type="checkbox" name="IsVatDeductedInSource" id="IsVatDeductedInSource" />
                        <label style="padding-top:19px">VDS?</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-md-line-input">
                        <div>
                            <input type="text" class="form-control" id="VDSAmount" name="VDSAmount" value="0">
                            <label style="color:#327ad5;">VDS Amount</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" style="border-left: 1px solid #eee">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="form-header">Document</h4>

                    <table class="table table-bordered form-table" id="contentTable">
                        <thead>
                            <tr>
                                <th>Sl</th>
                                <th>Type</th>
                                <th>File</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td class="form-group form-md-line-input has-info">
                                    <select id="DocumentTypeId" name="DocumentTypeId" class="form-control" asp-items="ViewBag.DocumentTypeId"></select>
                                </td>
                                <td class="form-group form-md-line-input has-info">
                                    <input type="file" name="FileUpload" id="FileUpload" class="form-control" />
                                </td>
                                <td>
                                    <a id="addDocument" class="btn btn-sm btn-success" aria-label="Left Align">
                                        <i class="bi bi-plus-lg"></i>
                                    </a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>

                <div class="col-md-12">
                    <h4 class="form-header">Payment</h4>
                    <table class="table table-bordered form-table" id="payment">
                        <thead>
                            <tr>
                                <th>Sl</th>
                                <th>Method</th>
                                <th>Paid Amount</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td class="form-group form-md-line-input has-info">
                                    <select id="PaymentMethodId" name="PaymentMethodId" class="form-control" asp-items="ViewBag.PaymentMethodId"></select>

                                </td>
                                <td class="form-group form-md-line-input">
                                    <div>
                                        <input type="text" name="PaidAmount" id="PaidAmount" class="form-control" autocomplete="off"/>
                                    </div>
                                </td>
                                <td class="form-group form-md-line-input">
                                    <div>

                                        <input type="text" name="PaymentDate" id="PaymentDate" class="form-control" value="@DateTime.Now"/>
                                    </div>
                                </td>
                                <td>
                                    <a id="addPayment" class="btn btn-sm btn-success" aria-label="Left Align">
                                        <i class="bi bi-plus-lg"></i>
                                    </a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <h4 class="form-header">Purchase Details</h4>
            <table class="table table-bordered form-table" id="gridTable">
                <thead>
                    <tr>
                        <th style="width:40px">Sl</th>
                        <th style="width:180px">Product</th>
                        <th style="width:100px">Quantity</th>
                        <th style="width:100px">Amount</th>
                        <th style="width:100px">Discount</th>
                        <th style="width:100px">M.Unit</th>
                        <th style="width:150px">Price</th>
                        <th style="width:100px">SD.(%)</th>
                        <th>VAT(%)</th>
                        <th>VAT</th>
                        <th>Total</th>
                        <th>

                        </th>
                    </tr>
                    <tr>

                        <td></td>
                        <td class="form-group form-md-line-input">
                            <div>
                                <input type="text" class="form-control" id="Product" name="Product">
                            </div>
                        </td>
                        <td class="form-group form-md-line-input">
                            <div>
                                <input type="text" class="form-control" id="item" name="item">
                            </div>
                        </td>

                        <td class="form-group form-md-line-input">
                            <div>
                                <input class="form-control" id="amount" name="amount" />
                            </div>
                        </td>
                        <td class="form-group form-md-line-input">
                            <div>
                                <input type="text" class="form-control" id="DiscountPerItem" value="0" name="DiscountPerItem" />
                            </div>
                        </td>
                        <td class="form-group form-md-line-input has-info">

                            <select id="unit" name="unit" class="form-control" asp-items="ViewBag.MeasurementUnitId"></select>
                        </td>
                        <td><label id="Amount" name="Amount" /></td>

                        <td class="form-group form-md-line-input">
                            <div>
                                <input type="text" class="form-control" id="SupplementaryDutyPercent" name="SupplementaryDutyPercent" />
                            </div>
                        </td>
                        <td class="form-group form-md-line-input has-info">
                            <label id="VAT" name="VAT" />
                        </td>
                        <td>
                            <label id="vatValue" name="vatValue"></label>
                        </td>
                        <td>
                            <label id="totalValue" name="totalValue"></label>
                        </td>
                        <td>
                            <a id="add" class="btn btn-sm btn-success" aria-label="Left Align">
                                <i class="bi bi-plus-lg"></i>
                            </a>
                        </td>
                    </tr>
                </thead>

                <tbody id="tblPurchaseOD"></tbody>
                <tfoot>
                    <tr>
                        <td colspan="9">Total</td>

                        <td colspan="1"><label id="TotalVat" name="TotalVat" /></td>

                        <td><label id="TotalPrice" name="TotalPrice" /></td>

                        <td></td>
                    </tr>
                </tfoot>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="form-actions">
        <button type="button" class="btn blue" id="save"><i class="bi bi-check-lg"></i> Submit</button>
        <a href="~/Purchase/Index" class="btn btn-secondary btn-sm"><i class="bi bi-slash-circle"></i> Cancel</a>
    </div>
</form>

@section Scripts{

    <script src="~/js/typeahead.bundle.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script>

        var purchasOrder = {
            init: function() {},
            count: 1,
            unitAmount: 0,
            totalPrice: 0,
            totalVat: 0,
            typeId: 0,
            purchaseOrders:[],
            PurchaseOrderDetailList: [],
            ContentInfoJson: [],
            PurchasePaymenJson:[],
            item: [],
            calculateTotal: function () {
                var vatPercent = $('#VAT').text();
                var unitAmount = $('#amount').val();
                var vatValue = parseFloat(unitAmount);
                var vat = parseFloat(vatPercent) / 100;
                vatValue = vatValue * (vat);
                var total = parseFloat(unitAmount) + vatValue;
                $('#vatValue').text(vatValue);
                $('#totalValue').text(total);
            },
            purchaseForLocal: function () {
                var purchaseTypeId = $('#PurchaseTypeId').val();
                if (purchaseTypeId == 1) {

                    $('#PurchaseTypeId').attr("disabled", true);
                    $('#gridTable tbody').empty();
                    $("#ImportDutyPercent").val(0);
                    $("#RegulatoryDutyPercent").val(0);
                    $("#AdvanceTaxPercent").val(0);
                    $("#AdvanceIncomeTaxPercent").val(0);
                    $("#ImportDutyPercent").attr('readonly', 'readonly');
                    $("#RegulatoryDutyPercent").attr('readonly', 'readonly');
                    $("#AdvanceTaxPercent").attr('readonly', 'readonly');
                    $("#AdvanceIncomeTaxPercent").attr('readonly', 'readonly');
                }
            },
            purchaseForImport: function (purchaseTypeId) {
                if (purchaseTypeId == 3) {

                    $('#PurchaseTypeId').attr("disabled", true);
                    $('#gridTable tbody').empty();

                    purchasOrder.gridTableEmpty();
                    purchasOrder.PurchaseOrderDetailList.length = 0;
                    purchasOrder.count = 1;
                    purchasOrder.totalPrice = 0;
                    purchasOrder.totalVat = 0;
                    $('#TotalPrice').text('0');
                    $('#TotalVat').text('0');
                }
            },
            purchaseForVDS: function (purchaseTypeId) {
                if (purchaseTypeId == 3) {

                    $('#PurchaseTypeId').attr("disabled", true);
                    $('#gridTable tbody').empty();

                    purchasOrder.gridTableEmpty();
                    purchasOrder.PurchaseOrderDetailList.length = 0;
                    purchasOrder.count = 1;
                    purchasOrder.totalPrice = 0;
                    purchasOrder.totalVat = 0;
                    $('#TotalPrice').text('0');
                    $('#TotalVat').text('0');
                }
            },

            gridTableEmpty: function() {
                $('#ProductId').val('');
                $('#Product').val('');
                $('#Amount').text('');
                $('#item').val('');
                $('#amount').val('0');
                $('#VAT').text('');
                $('#InitialAmount').val('');
                $('#vatValue').text('');
                $('#totalValue').text('');
            },
            gridPaymentEmpty: function() {
                $('#PaidAmount').val('');
                $('#PaymentDate').val('');
            },
            isNumber:function (n) {
                return !isNaN(parseFloat(n)) && isFinite(n);
            },
            CalculateTotalPriceAndVat: function (totalPrice, totalVat) {
                debugger
                purchasOrder.totalPrice += totalPrice;
                purchasOrder.totalVat += totalVat;
                $('#TotalPrice').text(purchasOrder.totalPrice);
                $('#TotalVat').text(purchasOrder.totalVat);
            },
            add: function () {

                var productName = $('#Product').val();
                var productId = $('#ProductId').val();
                var item = $('#item').val();
                var amount = $('#amount').val();
                var vatPercent = $('#VAT').text();
                var unit = $('#unit option:selected').text();
                var unitId = $('#unit').val();
                var unitAmount = $('#Amount').text();
                var DiscountPerItem = $('#DiscountPerItem').val();
                var SupplementaryDutyPercent = $('#SupplementaryDutyPercent').val();
                var IsVatDeductedInSource = $('#IsVatDeductedInSource').is(":checked");
                var VDSAmount = $('#VDSAmount').val();
                if (productId>0) {

                    var canAdd = true;

                    $.each(purchasOrder.PurchaseOrderDetailList,
                        function (i, v) {
                            if (purchasOrder.PurchaseOrderDetailList[i].ProductId == productId) {
                                alert('Sorry! product Order Exists.');
                                canAdd = false;

                            }

                        });
                    if (!parseInt(item)) {
                        alert('Number of item is inValid!');
                        canAdd = false;
                    }
                    if (!parseInt(amount)) {
                        alert('Amount of item is inValid!');
                        canAdd = false;
                    }
                    if (canAdd) {

                        if (!purchasOrder.isNumber(vatPercent)) {
                            return alert("Input VAT %");
                        }

                        var vat = parseFloat(vatPercent)/100;
                        var data = new Object();
                        data.ProductId = productId;
                        data.Quantity = item;
                        data.UnitPrice = unitAmount;
                        data.DiscountPerItem = DiscountPerItem;
                        data.SupplementaryDutyPercent = SupplementaryDutyPercent;
                        data.VATPercent = vatPercent;
                        data.MeasurementUnitId = unitId;
                        var vatValue = parseFloat(amount);
                        vatValue = vatValue * (vat);
                        var total = parseFloat(amount) + vatValue;
                        data.total = total;
                        data.vatValue = vatValue;
                        purchasOrder.PurchaseOrderDetailList.push(data);
                        if (IsVatDeductedInSource) {
                            var previousAmount = parseFloat(VDSAmount);
                            $('#VDSAmount').val(vatValue + previousAmount)
                        }
                        var html = '<tr id="' +
                            data.ProductId +
                            '">' +
                            '<td>' +
                            purchasOrder.count +
                            '</td>' +
                            '<td>' +
                            productName +
                            '</td>' +
                            '<td>' +
                            item +
                            '</td>' +
                            '<td>' +
                            amount +
                            '</td>' +
                            '<td>' +
                            DiscountPerItem +
                            '</td>' +
                            '<td>' +
                            unit +
                            '</td>' +
                            '<td>' +
                            unitAmount +
                            '</td>' +

                            '<td>' +
                            SupplementaryDutyPercent +
                            '</td>' +
                            '<td>' +
                            vatPercent +
                            '</td>' +
                            '<td>' +
                            vatValue +
                            '</td>' +

                            '<td>' +
                            total +
                            '</td>' +
                            '<td><span onclick="Delete(' +
                            data.ProductId +
                            ')"  class="glyphicon glyphicon-minus btn-xs"></a></span></td>';

                        html += '</tr>';

                        $("table#gridTable > tbody").append(html);
                        purchasOrder.CalculateTotalPriceAndVat(total, vatValue);
                        purchasOrder.gridTableEmpty();
                        purchasOrder.count++;

                    }
                }

            },
            addDocument: function () {

                var DocumentName = $('#DocumentTypeId option:selected').text();
                var DocumentTypeId = $('#DocumentTypeId').val();
                var files = $("#FileUpload").get(0).files;
                var table = document.getElementById('contentTable');
                var rowCount = table.rows.length;
                if (DocumentTypeId > 0) {
                    var canAdd = true;

                    if (canAdd) {
                        var data = new Object();
                        data.rowCount = rowCount;
                        data.DocumentTypeId = DocumentTypeId;
                        data.UploadFile = files[0];
                        purchasOrder.ContentInfoJson.push(data);

                        var html = '<tr id="' +
                            rowCount +
                            '">' +
                            '<td>' +
                            rowCount +
                            '</td>' +
                            '<td>' +
                            DocumentName +
                            '</td>' +
                            '<td>' +
                            files[0].name +
                            '</td>' +
                            '<td><span onclick="DeleteDocument(' +
                            rowCount +
                            ')"  class="glyphicon glyphicon-minus btn-xs"></a></span></td>';

                        html += '</tr>';

                        $("table#contentTable > tbody").append(html);

                    }
                }

            },
            addPayment: function () {

                var PaymentMethod = $('#PaymentMethodId option:selected').text();
                var PaymentMethodId = $('#PaymentMethodId').val();
                var PaidAmount = $("#PaidAmount").val();
                var PaymentDate = $("#PaymentDate").val();
                var table = document.getElementById('payment');
                var rowCount = table.rows.length;
                if (PaymentMethodId > 0) {
                    var canAdd = true;

                    if (canAdd) {
                        var data = new Object();
                        data.rowCount = rowCount;
                        data.PaymentMethodId = PaymentMethodId;
                        data.PaidAmount = PaidAmount;
                        data.PaymentDate = PaymentDate;
                        purchasOrder.PurchasePaymenJson.push(data);

                        var html = '<tr id="' +
                            rowCount +
                            '">' +
                            '<td>' +
                            rowCount +
                            '</td>' +
                            '<td>' +
                            PaymentMethod +
                            '</td>' +
                            '<td>' +
                            PaidAmount +
                            '</td>' +
                            '<td>' +
                            PaymentDate +
                            '</td>' +
                            '<td><span onclick="DeletePayment(' +
                            rowCount +
                            ')"  class="glyphicon glyphicon-minus btn-xs"></a></span></td>';

                        html += '</tr>';

                        $("table#payment > tbody").append(html);
                        purchasOrder.gridPaymentEmpty();

                    }
                }

            },
            delete: function (id) {

                for (var key in purchasOrder.PurchaseOrderDetailList) {
                    var value = purchasOrder.PurchaseOrderDetailList[key].ProductId;
                    if (purchasOrder.PurchaseOrderDetailList[key].ProductId == id) {
                        purchasOrder.CalculateTotalPriceAndVat(-purchasOrder.PurchaseOrderDetailList[key].total, -purchasOrder.PurchaseOrderDetailList[key].vatValue);
                    }
                }
                $.each(purchasOrder.PurchaseOrderDetailList,
                    function (i, v) {
                        if (purchasOrder.PurchaseOrderDetailList[i].ProductId == id) {

                            purchasOrder.PurchaseOrderDetailList.splice(i, 1);

                        }
                        $("tr#" + id).remove().fadeOut();

                    });

            },
            deletePayment: function (id) {

                $.each(purchasOrder.PurchasePaymenJson,
                    function (i, v) {
                        if (purchasOrder.PurchasePaymenJson[i].rowCount == id) {

                            purchasOrder.PurchasePaymenJson.splice(i, 1);

                        }
                        $("tr#" + id).remove().fadeOut();

                    });

            },
            deleteDocument: function (id) {

                $.each(purchasOrder.ContentInfoJson,
                    function (i, v) {
                        if (purchasOrder.ContentInfoJson[i].rowCount == id) {

                            purchasOrder.ContentInfoJson.splice(i, 1);

                        }
                        $("tr#" + id).remove().fadeOut();

                    });

            },
            calculate: function (value) {

                var unitAmount = $('#amount').val();

                if (!purchasOrder.isNumber(unitAmount) || !(purchasOrder.isNumber(value))) {
                    return; 
                } else {
                    $("#Amount").text(unitAmount / value);
                    purchasOrder.calculateTotal();
                }

            },
            calculateUnitPrice: function (value) {
                var qty = $('#item').val();
                if (!purchasOrder.isNumber(qty) || !(purchasOrder.isNumber(value))) {

                    return;
                } else {
                    $("#Amount").text(value / qty);
                }

            },
            Save: function () {
                debugger
                var VendorId = $('#VendorId').val();
                var VatChallanNo = $('#VatChallanNo').val();
                var VatChallanIssueDate = $('#VatChallanIssueDate').val();
                var VendorInvoiceNo = $('#VendorInvoiceNo').val();
                var InvoiceNo = $('#InvoiceNo').val();
                var PurchaseTypeId = $('#PurchaseTypeId').val();
                var files = $("#FileUpload").get(0).files;
                var Amount = $('#PurchaseAmount').val();
                var ExpectedDeleveryDate = $('#ExpectedDeleveryDate').val();
                var DeliveryDate = $('#DeliveryDate').val();
                var Iteams = $('#PurchaseIteams').val();
                var Vat = $('#PurchaseVat').val();
                var DiscountOnTotalPrice = $('#DiscountOnTotalPrice').val();
                var PurchaseReasonId = $('#PurchaseReasonId').val();
                var IsVatDeductedInSource = $('#IsVatDeductedInSource').is(":checked");
                var VDSAmount = null;
                if (IsVatDeductedInSource) {
                    VDSAmount = $('#VDSAmount').val();
                }

                var PaidAmount = $('#PaidAmount').val();
                var LcNo = $('#LcNo').val();
                var LcDate = $('#LcDate').val();
                var BillOfEntry = $('#BillOfEntry').val();
                var BillOfEntryDate = $('#BillOfEntryDate').val();
                var DueDate = $('#DueDate').val();
                var TermsOfLc = $('#TermsOfLc').val();
                var PoNumber = $('#PoNumber').val();
                var MushakGenerationId = $('#MushakGenerationId').val();

                var data = new FormData();

                for (var i = 0; i < purchasOrder.PurchaseOrderDetailList.length; i++) {
                    data.append('PurchaseOrderDetailList[' + i + '].ProductId', purchasOrder.PurchaseOrderDetailList[i].ProductId);
                    data.append('PurchaseOrderDetailList[' + i + '].Quantity', purchasOrder.PurchaseOrderDetailList[i].Quantity);
                    data.append('PurchaseOrderDetailList[' + i + '].UnitPrice', purchasOrder.PurchaseOrderDetailList[i].UnitPrice);
                    data.append('PurchaseOrderDetailList[' + i + '].DiscountPerItem', purchasOrder.PurchaseOrderDetailList[i].DiscountPerItem);
                    data.append('PurchaseOrderDetailList[' + i + '].ImportDutyPercent', purchasOrder.PurchaseOrderDetailList[i].ImportDutyPercent);
                    data.append('PurchaseOrderDetailList[' + i + '].RegulatoryDutyPercent', purchasOrder.PurchaseOrderDetailList[i].RegulatoryDutyPercent);
                    data.append('PurchaseOrderDetailList[' + i + '].SupplementaryDutyPercent', purchasOrder.PurchaseOrderDetailList[i].SupplementaryDutyPercent);
                    data.append('PurchaseOrderDetailList[' + i + '].VATPercent', purchasOrder.PurchaseOrderDetailList[i].VATPercent);
                    data.append('PurchaseOrderDetailList[' + i + '].AdvanceTaxPercent', purchasOrder.PurchaseOrderDetailList[i].AdvanceTaxPercent);
                    data.append('PurchaseOrderDetailList[' + i + '].AdvanceIncomeTaxPercent', purchasOrder.PurchaseOrderDetailList[i].AdvanceIncomeTaxPercent);
                    data.append('PurchaseOrderDetailList[' + i + '].MeasurementUnitId', purchasOrder.PurchaseOrderDetailList[i].MeasurementUnitId);
                }
                for (var i = 0; i < purchasOrder.ContentInfoJson.length; i++) {
                    data.append('ContentInfoJson[' + i + '].DocumentTypeId', purchasOrder.ContentInfoJson[i].DocumentTypeId);
                    data.append('ContentInfoJson[' + i + '].UploadFile', purchasOrder.ContentInfoJson[i].UploadFile);
                }
                for (var i = 0; i < purchasOrder.PurchasePaymenJson.length; i++) {
                    data.append('PurchasePaymenJson[' + i + '].PaymentMethodId', purchasOrder.PurchasePaymenJson[i].PaymentMethodId);
                    data.append('PurchasePaymenJson[' + i + '].PaidAmount', purchasOrder.PurchasePaymenJson[i].PaidAmount);
                    data.append('PurchasePaymenJson[' + i + '].PaymentDate', purchasOrder.PurchasePaymenJson[i].PaymentDate);
                }
                data.append("VDSAmount", VDSAmount);
                data.append("VatChallanNo", VatChallanNo);
                data.append("VatChallanIssueDate", VatChallanIssueDate);
                data.append("VendorId", VendorId);
                data.append("VendorInvoiceNo", VendorInvoiceNo);
                data.append("InvoiceNo", InvoiceNo);
                data.append("PurchaseDate", '2019-07-15');
                data.append("PurchaseTypeId", PurchaseTypeId);
                data.append("PurchaseReasonId", PurchaseReasonId);
                data.append("DiscountOnTotalPrice", DiscountOnTotalPrice);
                data.append("IsVatDeductedInSource", IsVatDeductedInSource);
                data.append("MushakGenerationId", 1);
                data.append("__RequestVerificationToken", $("input[name=__RequestVerificationToken]").val());

                
                $.ajax({
                    url: '@Url.Action("CreateAsync", "Purchase")',
                    data: data,
                    type: "POST",
                    processData: false,
                    contentType: false,
                    dataType: "json",
                    beforeSend: function () {
                        $("#loading").show();
                    },
                    success: function (result) {
                        $("#loading").hide();

                        if (result == false) {
                            alert("Please add atleast on purchase Details");
                        }
                        else {
                            window.location.href = '@Url.Action("Index", "Purchase")';
                        }
                    },
                    error: function (x, e) {
                        $("#loading").hide();
                        alert('error');
                    }
                });
            },
            product : {
                init: function () { },
                productAutoComplete: function () {
                    var materialforrequsition = {
                        Initialize: function () {
                            materialforrequsition.Typehead();
                        },

                        Typehead: function () {
                            $('#Product').typeahead('destroy');
                            $('#Product').typeahead({
                                    hint: true,
                                    highlight: true,
                                    minLength: 2,
                                },
                                {
                                    items: 8,
                                    name: 'Product',
                                    displayKey: function (s) {
                                        return s.name;
                                    },
                                    property: "ProductId",
                                    source: function (strmaterial, process) {
                                        var url = '@Url.Content("~/Products/PurchaseProductAutoComplete")';
                                        return $.getJSON(url, { filterText: $("#Product").val() }, function (Data) {

                                            return process(Data);
                                        });
                                    },
                                    updater: function (item) {
                                        return item.name;
                                    }
                                }).on('typeahead:selected', function (obj, datum) {

                                    $("#ProductId").val(datum.id);
                                    $('#unit').val(datum.unit);
                                    $('#Amount').text(datum.unitPrice);
                                    $('#item').val('1');
                                    $('#amount').val(datum.unitPrice);
                                    $('#SupplementaryDutyPercent').val(datum.supplimentaryDuty);
                                    if (purchasOrder.typeId == 3) {
                                        $('#VAT').text('0');
                                    } else {
                                        $('#VAT').text(datum.vat);
                                    }
                                   purchasOrder.calculateTotal();
                            });
                            $("#Product").focus();

                        }
                    }
                    materialforrequsition.Initialize();
                }
            }
        }

        $(document).ready(function () {


            $('#purchaseLocalFrm').validate({
                errorClass: 'help-block animation-slideDown',
                errorElement: 'div',
                errorPlacement: function (error, e) {
                    e.parents('.form-group >div').append(error);
                },
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },

                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    VendorInvoiceNo: "required",
                    InvoiceNo: "required",
                    VatChallanNo: {
                        required: true,
                        maxlength: 50
                    },
                    VatChallanIssueDate: {
                        date: true
                    },
                    VDSAmount: {
                        number: true
                    },
                    Discount: {
                        required: true,
                        number: true
                    },
                    item: {
                        required: true,
                        number: true
                    },
                    amount: {
                        required: $("#amount").val() < 0,

                        number: true
                    },
                    Product: {
                        required: true
                    },
                    DiscountPerItem: {
                        number: true
                    },
                    SupplementaryDutyPercent: {
                        number: true
                    },
                    PaidAmount:{
                        number: true
                    },
                    PaymentDate: {
                        date: true
                    }
                },
                messages: {
                    VendorInvoiceNo: "Enter Vendor Invoice",
                    InvoiceNo: "Enter Invoice No",
                    VatChallanNo: {
                        required: 'Please provide VatChallanNo',
                        maxlength: 'Can not be More Than 50',

                    },
                    VatChallanIssueDate: {
                        date: 'Provide a valid Date',

                    },
                    VDSAmount: {
                        number: 'Enter Number'

                    },
                    Discount: {
                        required: 'Please provide Discount',
                        number: 'Enter Number'
                    },
                    item: {
                        required: 'Please provide Quantity',
                        number: 'Enter Number'
                    },
                    amount: {
                        required: 'Please provide amount',
                        number: 'Enter Number'
                    },
                    Product: {
                        required: 'Please Enter Product',
                    },
                    DiscountPerItem: {
                        number: 'Enter Number'
                    },
                    SupplementaryDutyPercent: {
                        number: 'Enter Number'
                    },
                    PaidAmount: {
                        number: 'Enter Number'
                    },
                    PaymentDate: {
                        date: 'Provide a valid Date',
                    }

                }
            });
            $('#add').click(function () {
                $("#Product").rules('add', 'required');
                $("#item").rules('add', 'required');
                $("#amount").rules('add', 'required');
                $("#InvoiceNo").rules('remove', 'required');
                $("#VendorInvoiceNo").rules('remove', 'required');
                $("#VatChallanNo").rules('remove', 'required');
                $("#PaymentDate").rules('remove', 'required');
                if ($("#purchaseLocalFrm").valid()) {

                    purchasOrder.add();
                    return true
                }
                else {
                    return false;
                }
               
            });
            $('#addDocument').click(function() {
                purchasOrder.addDocument();
            });
            $('#addPayment').click(function() {
                $("#Product").rules('remove', 'required');
                $("#item").rules('remove', 'required');
                $("#amount").rules('remove', 'required');
                $("#InvoiceNo").rules('remove', 'required');
                $("#VatChallanNo").rules('remove', 'required');
                $("#VendorInvoiceNo").rules('remove', 'required');
                $("#PaymentDate").rules('add', 'required');
                if ($("#purchaseLocalFrm").valid()) {
                    purchasOrder.addPayment();
                    return true
                }
                else {
                    return false;
                }
            });

            $('#save').click(function () {
                $("#Product").rules('remove', 'required');
                $("#item").rules('remove', 'required');
                $("#amount").rules('remove', 'required');
                $("#PaymentDate").rules('remove', 'required');
                $("#InvoiceNo").rules('add', 'required');
                $("#VatChallanNo").rules('add', 'required');
                
                $("#VendorInvoiceNo").rules('add', 'required');
                if ($("#purchaseLocalFrm").valid()) {
                    var rowPurchase = $('#tblPurchaseOD tr').length;

                    if (rowPurchase > 0) {
                        if (confirm('Are you sure?')) {
                            purchasOrder.Save();
                            return true
                        }
                        else
                            return false
                       

                        return true
                    }
                    else {
                        alert('Add Product');
                    }

                }
                else {
                    return false;
                }
            });

            purchasOrder.product.productAutoComplete();
            purchasOrder.purchaseForLocal();
            $("#ExpectedDeleveryDate").datepicker();
            $("#ExpectedDeleveryDate").datepicker('option', 'dateFormat', 'dd M, yy');
            $("#VatChallanIssueDate").datepicker();
            $("#VatChallanIssueDate").datepicker('option', 'dateFormat', 'dd M, yy');
            $("#DeliveryDate").datepicker();
            $("#DeliveryDate").datepicker('option', 'dateFormat', 'dd M, yy');
            $("#PaymentDate").datepicker();
            $("#PaymentDate").datepicker('option', 'dateFormat', 'dd M, yy');
            $("#BillOfEntryDate").datepicker();
            $("#BillOfEntryDate").datepicker('option', 'dateFormat', 'dd M, yy');
            $("#DueDate").datepicker();
            $("#DueDate").datepicker('option', 'dateFormat', 'dd M, yy');
            $("#DeliveryDate").datepicker();
            $("#DeliveryDate").datepicker('option', 'dateFormat', 'dd M, yy');

        });

        function Delete(id) {
            purchasOrder.delete(id);
        }
       function DeleteDocument(id) {
            purchasOrder.deleteDocument(id);
        }
        function DeletePayment(id) {
            purchasOrder.deletePayment(id);
        }

        $("#item").keyup(function (evt) {
            debugger
            var theEvent = evt || window.event;

            if (theEvent.type === 'paste') {
                key = event.clipboardData.getData('text/plain');
            } else {
                var key = theEvent.keyCode || theEvent.which;
                key = String.fromCharCode(key);
            }
            var regex = /[0-9]|\./;
            if( !regex.test(key) ) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault)
                    $("#item").val("");
                return theEvent.preventDefault();
            }
            var that = this,
            numberOfItem = $(this).val();
            purchasOrder.calculate(numberOfItem);

        });

        $("#amount").keyup(function () {
            var that = this,
                amount = $(this).val();
            purchasOrder.calculateUnitPrice(amount);

        });

        $("#PurchaseTypeId").change(function () {
            purchasOrder.typeId = $('#PurchaseTypeId').val();
           var value= $('#PurchaseTypeId').val();
            purchasOrder.purchaseForVDS(value);

        });
    </script>

}