@model vms.entity.viewModels.VmSaleLocal


<div class="col-md-7 md-left-border">
<div class="font-weight-bold mb-3">
	Product Information
</div>
<form class="g-3 detail-form" id="frmProductInformation">
@*<div class="col-md-4 complex-form-col">
            <label asp-for="ProductId" class="col-sm-4 col-form-label"></label><div class="col-sm-8">
            <select asp-for="ProductId" asp-items="Model.ProductSelectList" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
                <option value="@null">Select Product</option>
            </select>
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>*@

<div class="row mb-3">
	<label asp-for="ProductId" class="col-sm-2 col-form-label"></label>
	<div class="col-sm-10">
		<select asp-for="ProductId" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
			<option value="@null">Select Product</option>
			@if (Model.ProductForSaleList.Any())
			{
				foreach (var product in Model.ProductForSaleList)
				{
					<option value="@product.ProductId"
					        data-product-hs-code="@product.HSCode"
					        data-product-model="@product.ModelNo"
					        data-product-code="@product.ProductCode"
					        data-product-sales-unit-price="@product.SalesUnitPrice"
					        data-product-vat-type-id="@product.ProductVatTypeId"
					        data-product-default-vat-percent="@product.DefaultVatPercent"
					        data-product-sd-percent="@product.SupplementaryDutyPercent"
					        data-product-max-sale-quantity="@product.MaxSaleQty"
					        data-product-measurement-unit-id="@product.MeasurementUnitId"
					        data-product-measurement-unit-name="@product.MeasurementUnitName"
					        data-is-inventory="@product.IsInventory">
								@product.ProductName
					</option>
				}
			}
		</select>
		<span asp-validation-for="ProductId" class="text-danger"></span>
	</div>
</div>
<div class="row mb-3">
	<label asp-for="ProductDescription" class="col-sm-2 col-form-label"></label>
	<div class="col-sm-10">
				<input type="text" asp-for="ProductDescription" class="form-control form-control-sm">
				<span asp-validation-for="ProductDescription" class="text-danger"></span>
	</div>
</div>
<div class="row">
	<div class="col-6">

		<div class="row mb-3">
			<label asp-for="Hscode" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
						<input type="text" asp-for="Hscode" class="form-control form-control-sm">
						<span asp-validation-for="Hscode" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="col-6">

		<div class="row mb-3">
			<label asp-for="ProductCode" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
						<input type="text" asp-for="ProductCode" class="form-control form-control-sm">
						<span asp-validation-for="ProductCode" class="text-danger"></span>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-6">

		<div class="row mb-3">
			<label asp-for="SKUNo" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="text" asp-for="SKUNo" class="form-control form-control-sm">
				<span asp-validation-for="SKUNo" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="col-6 d-none">

		<div class="row mb-3">
			<label asp-for="SKUId" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="text" asp-for="SKUId" class="form-control form-control-sm">
				<span asp-validation-for="SKUId" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="col-6">

		<div class="row mb-3">
					<label asp-for="GoodsId" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
						<input type="text" asp-for="GoodsId" class="form-control form-control-sm">
						<span asp-validation-for="GoodsId" class="text-danger"></span>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-6">
		<div class="row mb-3">
			<label asp-for="MeasurementUnitId" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="hidden" asp-for="MeasurementUnitId" class="form-control form-control-sm">
				<input type="text" asp-for="MeasurementUnitName" readonly="readonly" class="form-control form-control-sm">
				<span asp-validation-for="MeasurementUnitId" class="text-danger"></span>
			</div>
		</div>

	</div>
	<div class="col-6">

		<div class="row mb-3">
			<label asp-for="CurrentStock" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="number" asp-for="CurrentStock" class="form-control form-control-sm" readonly>
				<span asp-validation-for="CurrentStock" class="text-danger"></span>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-6">

		<div class="row mb-3">
			<label asp-for="UnitPrice" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="number" asp-for="UnitPrice" class="form-control form-control-sm">
				<span asp-validation-for="UnitPrice" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="col-6">

		<div class="row mb-3">
			<label asp-for="Quantity" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="number" asp-for="Quantity" class="form-control form-control-sm">
				<span asp-validation-for="Quantity" class="text-danger"></span>
				<small id="msgQuantity" class="form-text text-danger"></small>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-6">
		<div class="row mb-3">
			<label asp-for="TotalPrice" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="number" readonly asp-for="TotalPrice" class="form-control form-control-sm">
				<span asp-validation-for="TotalPrice" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="col-6">

		<div class="row mb-3">
			<label asp-for="DiscountPerItem" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="number" asp-for="DiscountPerItem" class="form-control form-control-sm">
				<span asp-validation-for="DiscountPerItem" class="text-danger"></span>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-6">
		<div class="row mb-3">
			<label asp-for="TotalProductDiscount" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="number" asp-for="TotalProductDiscount" class="form-control form-control-sm">
				<span asp-validation-for="TotalProductDiscount" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="row mb-3">
			<label asp-for="ProductPriceWithDiscount" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="number" readonly="readonly" asp-for="ProductPriceWithDiscount" class="form-control form-control-sm">
				<span asp-validation-for="ProductPriceWithDiscount" class="text-danger"></span>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-6">
		<div class="row mb-3">
			<label asp-for="SupplementaryDutyPercent" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="number" asp-for="SupplementaryDutyPercent" class="form-control form-control-sm">
				<span asp-validation-for="SupplementaryDutyPercent" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="col-6">


		<div class="row mb-3">
			<label asp-for="ProductSupplementaryDuty" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="number" readonly="readonly" asp-for="ProductSupplementaryDuty" class="form-control form-control-sm">
				<span asp-validation-for="ProductSupplementaryDuty" class="text-danger"></span>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-6">
		<div class="row mb-3">
			<label asp-for="VatAblePrice" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="number" asp-for="VatAblePrice" readonly="readonly" class="form-control form-control-sm">
				<span asp-validation-for="VatAblePrice" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="col-6">

		<div class="row mb-3">
			<label asp-for="ProductVatTypeId" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<select asp-for="ProductVatTypeId" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option" disabled="disabled">
					<option value="@null">Select Vat Type</option>
					@if (Model.ProductVatTypes.Any())
					{
						foreach (var vattype in Model.ProductVatTypes)
						{
							<option value="@vattype.ProductVattypeId"
							        data-product-default-vat-percent="@vattype.DefaultVatPercent"
							        data-is-vat-updatable="@vattype.IsVatUpdatable">
								@vattype.Name (@vattype.LocalSaleNote)
							</option>
						}
					}
				</select>
				<span asp-validation-for="ProductVatTypeId" class="text-danger"></span>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-6">
		<div class="row mb-3">
			<label asp-for="ProductVatPercent" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="number" asp-for="ProductVatPercent" class="form-control form-control-sm">
				<span asp-validation-for="ProductVatPercent" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="col-6">

		<div class="row mb-3">
			<label asp-for="ProductVat" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="number" readonly="readonly" asp-for="ProductVat" class="form-control form-control-sm">
				<span asp-validation-for="ProductVat" class="text-danger"></span>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-6">
		<div class="row mb-3">
			<label asp-for="ProductPriceWithVat" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="number" asp-for="ProductPriceWithVat" readonly="readonly" class="form-control form-control-sm">
				<span asp-validation-for="ProductPriceWithVat" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="row mb-3">
			<label asp-for="ProductPriceWithVatAfterDiscount" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="number" asp-for="ProductPriceWithVatAfterDiscount" readonly="readonly" class="form-control form-control-sm">
				<span asp-validation-for="ProductPriceWithVatAfterDiscount" class="text-danger"></span>
			</div>
		</div>
	</div>
</div>
<div class="row mb-3">
	<div class="col-12">
		<div class="float-end">
			<button type="button" class="btn  btn-primary btn-sm  w-100" id="btnAddProduct"><i class="bi bi-plus-lg"></i> Add</button>
		</div>
		<div class="float-end">

			<button onclick="resetProductInformationField();" type="button" class="btn  btn-warning btn-sm w-100" id="btnResetProduct"><i class="bi bi-arrow-repeat"></i> Reset</button>

		</div>
	</div>
</div>
</form>
</div>