@model vms.entity.viewModels.VmSaleLocal


<div class="col-md-5">
	<div class="font-weight-bold mb-3">
		Main Information
	</div>
	<form class="g-3" method="post" id="frmMainInformation">
		@*<div class="row mb-3">
			<label asp-for="OrgBranchId" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<select asp-for="OrgBranchId" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
					<option value="@null">Select Branch</option>
					@if (Model.OrgBranchList.Any())
					{
						foreach (var branch in Model.OrgBranchList)
						{
							<option value="@branch.OrgBranchId"
							        data-address="@branch.Address">
								@branch.Name
							</option>
						}
					}
				</select>
				<span asp-validation-for="OrgBranchId" class="text-danger"></span>
			</div>
		</div>*@

		<div class="row mb-3">
			<label asp-for="OrgBranchId" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<select asp-for="OrgBranchId" asp-items="Model.OrgBranchList.CustomSelectListToSelectList()" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
					<option value="@null">Select Branch</option>
				</select>
				<span asp-validation-for="OrgBranchId" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="InvoiceNo" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="text" asp-for="InvoiceNo" class="form-control form-control-sm">
				<span asp-validation-for="InvoiceNo" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="InvoiceDate" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="date" asp-for="InvoiceDate" class="form-control form-control-sm">
				<span asp-validation-for="InvoiceDate" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="CustomerId" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<select asp-for="CustomerId" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
					<option value="@null">Select Customer</option>
					@if (Model.CustomerList.Any())
					{
						foreach (var customer in Model.CustomerList)
						{
							<option value="@customer.CustomerId"
							        data-address="@customer.DeliveryAddress"
							        data-rec-mobile="@customer.DeliveryContactPersonMobile"
							        data-rec-name="@customer.DeliveryContactPerson"
							        data-cus-mobile="@customer.PhoneNo">
								@customer.Name
							</option>
						}
					}
				</select>
				<span asp-validation-for="CustomerId" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="CustomerPhoneNumber" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="text" asp-for="CustomerPhoneNumber" class="form-control form-control-sm">
				<span asp-validation-for="CustomerPhoneNumber" class="text-danger"></span>
			</div>
		</div>
		<div class="row mb-3 d-none">
			<label asp-for="WorkOrderNo" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="text" asp-for="WorkOrderNo" class="form-control form-control-sm" placeholder="##">
				<span asp-validation-for="WorkOrderNo" class="text-danger"></span>
			</div>
		</div>
		<div class="row mb-3">
			<label asp-for="SalesDeliveryTypeId" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<select asp-for="SalesDeliveryTypeId" asp-items="Model.DeliveryMethodSelectList.CustomSelectListToSelectList()" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
					<option value="@null">Select Method</option>
				</select>
				<span asp-validation-for="SalesDeliveryTypeId" class="text-danger"></span>
			</div>
		</div>
		<div class="row mb-3">
			<label asp-for="DeliveryDate" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="date" asp-for="DeliveryDate" class="form-control form-control-sm" min='@DateTime.Now.ToString("yyyy-MM-dd")'>
				<span asp-validation-for="DeliveryDate" class="text-danger"></span>
			</div>
		</div>
		<div class="row mb-3">
			<label asp-for="ReceiverName" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="text" asp-for="ReceiverName" class="form-control form-control-sm">
				<span asp-validation-for="ReceiverName" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3 d-none">
			<label asp-for="ReceiverContactNo" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="text" asp-for="ReceiverContactNo" class="form-control form-control-sm" placeholder="01####">
				<span asp-validation-for="ReceiverContactNo" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="ShippingAddress" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="text" asp-for="ShippingAddress" class="form-control form-control-sm">
				<span asp-validation-for="ShippingAddress" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3 d-none">
			<label asp-for="PONo" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="text" asp-for="PONo" class="form-control form-control-sm">
				<span asp-validation-for="PONo" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="VehicleTypeId" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<select asp-for="VehicleTypeId" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
					<option value="@null">Select VehicleType</option>
					@if (Model.VehicleTypesList.Any())
					{
						foreach (var VehicleType in Model.VehicleTypesList)
						{
							<option value="@VehicleType.VehicleTypeId"
							        data-Is-Require-Registration="@VehicleType.IsRequireRegistration">
								@VehicleType.VehicleTypeName
							</option>
						}
					}
				</select>
				<span asp-validation-for="VehicleTypeId" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="DriverName" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="text" asp-for="DriverName" class="form-control form-control-sm">
				<span asp-validation-for="DriverName" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="DriverMobile" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="text" asp-for="DriverMobile" class="form-control form-control-sm">
				<span asp-validation-for="DriverMobile" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3 vehicle-registration-no d-none">
			<label asp-for="VehicleRegistrationNo" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="text" asp-for="VehicleRegistrationNo" class="form-control form-control-sm">
				<span asp-validation-for="VehicleRegistrationNo" class="text-danger"></span>
			</div>
		</div>


		<div class="row mb-3">
			<div class="form-check form-switch">
				<input type="checkbox" asp-for="IsVatDeductedInSource" class="form-check-input">
				<label asp-for="IsVatDeductedInSource" class="form-check-label"></label>
				<span asp-validation-for="IsVatDeductedInSource" class="text-danger"></span>
			</div>
		</div>
		<div class="row mb-3 vds-related d-none">
			<label asp-for="VdsAmount" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-8">
				<input type="number" asp-for="VdsAmount" class="form-control form-control-sm">
				<span asp-validation-for="VdsAmount" class="text-danger"></span>
			</div>
		</div>

	</form>
</div>