
@{
    ViewData["Title"] = "SaleCancellations";
}
@section breadcrumb
    {
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("SaleOrder","Sales")">Sale</a>  
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("SaleCancellations","Sales")">Sale Cancellation</a> 
        </li>
    </ul>
}


<div class="row">
   
        <div class="col-md-6">
            <h1 class="custom-page-title">Sale Cancellations</h1>
        </div>
        <div class="col-md-5">
            <div class="input-group" style="margin-top:10px">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit">
                        <i class="icon-magnifier"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="col-md-1">
            <a style="margin-top:10px" href="@Url.Action("SaleCancellationOrder","SaleCancellationOrder")" class="btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i> Add</a>
        </div>
    </div>
    @*<div class="col-md-1">
            <a style="margin-top:10px" href="@Url.Action("Create")" class="btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i> Add</a>
        </div>*@

<hr>
<div class="row">
    <div class="col-md-12">
      

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>SL</th>
                     
                        <th>Number</th>
                        <th>Posted</th>
                        <th>Voucher Date</th>
                        <th>Party</th>
                        <th>Amount</th>
                        <th>Cash Return</th>
                        <th>A/R Adjustment</th>
                        <th>Description</th>
                        <th>Branch</th>
                        
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        
                        <td>SOO-1001</td>
                        <td>
                            <div class="md-checkbox">
                                <input type="checkbox" id="checkbox3" class="md-check" checked>
                                <label for="checkbox3">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                </label>
                            </div>
                        </td>
                        <td>2018-12-27</td>
                        <td>Abedin Glass House</td>
                        <td>2700</td>
                        <td>0.00</td>
                        <td>2,270</td>
                        <td>test Data</td>
                        <td>Head Office</td>
                      
                        <td>
                            <div class="btn-group">
                                <div class="dropdown dropdown-user">
                                    <a style="text-decoration:none" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <span class=""> Action </span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-default">
                                        
                                        <li>
                                            <a href='@Url.Action("SaleCancellationsAccountsView","Sales")' class=""><i class="fa fa-plus"></i>Details</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                       
                        <td>SOO-1002</td>
                        <td>
                            <div class="md-checkbox">
                                <input type="checkbox" id="checkbox6" class="md-check" checked>
                                <label for="checkbox6">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                </label>
                            </div>
                        </td>
                        <td>2018-12-27</td>
                        <td>Sb Super Delux</td>
                        <td>2300</td>
                        <td>12.00</td>
                        <td>2,270</td>
                        <td>test Data</td>
                        <td>Head Office</td>
                   
                        <td>
                            <div class="btn-group">
                                <div class="dropdown dropdown-user">
                                    <a style="text-decoration:none" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <span class=""> Action </span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-default">

                                        <li>
                                            <a href='@Url.Action("SaleCancellationsAccountsView","Sales")' class=""><i class="fa fa-plus"></i>Details</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    
</div>