@model vms.entity.viewModels.VmInputOutputCoEfficient

@{
    ViewData["Title"] = "Input-Output Coefficient";
}
<link href="~/CustomCss/InputOutputCoefficient.css" rel="stylesheet" type="text/css" />
@section contentheader
{
    <div class="p-3 page-header">
        @ViewData["Title"]
        <div class="row">
            <div class="form-group col-md-3">
                <div>
                    <label asp-for="SalesUnitPrice" class="control-label">Sales Unit Price</label>
                    <input asp-for="SalesUnitPrice" class="form-control" readonly />
                    <input asp-for="MeasurementUnitId" hidden value="@Model.MeasurementUnitId" class="form-control" readonly />
                    <span asp-validation-for="SalesUnitPrice" class="text-danger"></span>
                </div>
            </div>
            <partial name="_ProductDetails" />
        </div>
    </div>
}

<input type="hidden" id="HiddenProductId" asp-for="HiddenProductId" />
<input type="hidden" id="ItemType" name="ItemType" />
<div class="form-body">
    <div class="row">
        <div class="col-md-8 auto-height" style="border-right: none;">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 ">
                        <h5> Product Cost</h5>
                        <form method="post" id="productCostFrm">
                            <table class="table table-bordered form-table">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th class="w-px-150">Qty</th>
                                        <th class="w-px-150">Cost</th>
                                        <th class="w-px-150">Unit Price</th>
                                        <th class="w-px-100">M. Unit</th>
                                        <th class="w-px-100">Wastage(%)</th>
                                        <th class="single-button-action-column"></th>
                                    </tr>
                                    <tr>

                                        <td>
                                            <select asp-for="ProductId">
                                                <option value="@null">Select Product</option>
                                                @if (Model.RawMaterialForInputOutputCoEfficientList.Any())
                                                {
                                                    foreach (var product in Model.RawMaterialForInputOutputCoEfficientList)
                                                    {
                                                        <option value="@product.ProductId"
                                                                data-product-Unit-Price="@product.UnitPrice"
                                                                data-product-measurement-unit-id="@product.MeasurementUnitId"
                                                                data-product-measurement-unit-name="@product.MeasurementUnitName">
                                                            @product.ProductDescription
                                                        </option>
                                                    }
                                                }
                                            </select>
                                            <span asp-validation-for="ProductId" class="text-danger"></span>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="number" class="form-control form-control-sm" id="RequiredQty" asp-for="RequiredQty">
                                                <span asp-validation-for="RequiredQty" class="text-danger"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="number" class="form-control form-control-sm ppcost" asp-for="ProductCost" id="ProductCost" />
                                                <span asp-validation-for="ProductCost" class="text-danger"></span>

                                            </div>
                                        </td>
                                        <td>
                                            @*<input type="text" asp-for="UnitPrice" readonly="readonly" class="form-control form-control-sm">*@
                                            <input type="text" asp-for="UnitPrice" class="form-control form-control-sm unitPrice" />
                                        </td>
                                        <td>
                                            <input type="hidden" asp-for="MeasurementUnitId" class="form-control form-control-sm">
                                            <input type="text" asp-for="MeasurementUnitName" readonly="readonly" class="form-control form-control-sm">
                                            <span asp-validation-for="MeasurementUnitId" class="text-danger"></span>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control form-control-sm" id="WastagePercentage" asp-for="WastagePercentage">
                                            <span asp-validation-for="WastagePercentage" class="text-danger"></span>
                                        </td>

                                        <td>
                                            <a id="btnAddRelatedProductCost" class="btn btn-sm btn-success" aria-label="Left Align">
                                                <i class="bi bi-plus-lg"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </thead>

                                <tbody id="tbdProductCost"></tbody>

                                <tfoot>
                                    <tr class="text-end">
                                        <th colspan="2">Total</th>
                                        <th id="totalProductCost"></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </form>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-5">
                    <h5>Profit</h5>
                    <form id="frmProfit">
                        <table class="table table-bordered form-table">
                            <thead>
                                <tr>
                                    <th>Profit Amount</th>
                                    <th class="w-px-100">In %</th>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="number" class="form-control form-control-sm" id="ProfitAmount" asp-for="ProfitAmount">
                                        <span asp-validation-for="ProfitAmount" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input type="text" readonly class="form-control form-control-sm" id="ProfitPercent" asp-for="ProfitPercent">
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="float-start">
                        <button type="button" class="btn btn-success btn-sm" onclick="sendToInputOutputCoEfficientController();" id="save"><i class="bi bi-check-lg"></i> Submit</button>
                        <button type="button" value="Reset" onclick="location.reload();" class="btn btn-warning btn-sm"><i class="bi bi-arrow-repeat"></i> Reset</button>
                        <a asp-action="Index" class="btn btn-secondary btn-sm"><i class="bi bi-slash-circle"></i> Cancel</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="row">
                <h5> Add Overhead Cost</h5>
                <form id="frmOverHeadCost">
                    <div class="table-container table-wrapper">
                        <table class="table table-body table-bordered form-table scrollable-table">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th class="w-px-150">Cost</th>
                                    @* <th class="single-button-action-column"></th> *@
                                </tr>
                            </thead>
                            <tbody id="tbdOverheadCost">
                                @foreach (var costName in Model.OverheadCostSelectList)
                                {
                                    <tr>
                                        <td>
                                            @*  <select asp-for="OverheadCostId" asp-items="Model.OverheadCostSelectList" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
                                        <option value="@null">Select Overhead Cost</option>
                                        </select>  *@

                                            <span id="OverheadCostId" hidden>@costName.Value</span>
                                            <span>@costName.Text</span>
                                            <span asp-validation-for="OverheadCostId" class="text-danger"></span>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control form-control-sm ovhdcost" asp-for="OverheadCostAmount" id="OvHeadCost">
                                            <span asp-validation-for="OverheadCostAmount" class="text-danger"></span>
                                        </td>

                                    </tr>
                                }
                            </tbody>

                            @*  <tbody id="tbdOverheadCost"></tbody> *@
                            <tfoot>
                                <tr class="text-end">
                                    <th class="text">Total</th>
                                    <th id="totalOverHeadCost"></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/CustomJs/InputOutputCoEfficient.js?vguid=@ViewStaticData.StaticFileVersionGuid"></script>
}