@model vms.entity.viewModels.BranchTransferSend.BranchTransferSendCreateViewModel


<div class="col-md-5 md-left-border form-2">
	<div class="font-weight-bold mb-3">
		Product Information
	</div>
	<form class="row g-3 detail-form" id="frmProductInformation">
		<div class="col-md-12 complex-form-col">
			<label asp-for="ProductId" ></label>
			<select asp-for="ProductId" >
				<option value="@null">Select Product</option>
				@if (Model.ProductForTransferList.Any())
				{
					foreach (var product in Model.ProductForTransferList)
					{
						<option value="@product.ProductId"
						        data-product-hs-code="@product.HSCode"
						        data-product-model="@product.ModelNo"
						        data-product-code="@product.ProductCode"
						        data-product-sales-unit-price="@product.SalesUnitPrice"
						        data-product-vat-type-id="@product.ProductVatTypeId"
						        data-product-default-vat-percent="@product.DefaultVatPercent"
						        data-product-sd-percent="@product.SupplementaryDutyPercent"
						        data-product-max-sale-quantity="@product.MaxSaleQty"
						        data-product-measurement-unit-id="@product.MeasurementUnitId"
						        data-product-measurement-unit-name="@product.MeasurementUnitName"
						        data-is-inventory="@product.IsInventory">
							@product.ProductName
						</option>
					}
				}
			</select>
			<span asp-validation-for="ProductId" ></span>
		</div>

		<div class="col-md-12 complex-form-col">
			<label asp-for="ProductDescription" ></label>
			<input type="text" asp-for="ProductDescription" >
			<span asp-validation-for="ProductDescription" ></span>
		</div>

		<div class="col-md-4 complex-form-col">
			<label asp-for="Hscode" ></label>
			<input type="text" asp-for="Hscode" >
			<span asp-validation-for="Hscode" ></span>
		</div>

		<div class="col-md-4 complex-form-col">
			<label asp-for="ProductCode" ></label>
			<input type="text" asp-for="ProductCode" >
			<span asp-validation-for="ProductCode" ></span>
		</div>

		<div class="col-md-4 complex-form-col">
			<label asp-for="SKUNo" ></label>
			<input type="text" asp-for="SKUNo" >
			<span asp-validation-for="SKUNo" ></span>
		</div>

		<div class="col-md-4 complex-form-col">
			<label asp-for="SKUId" ></label>
			<input type="text" asp-for="SKUId" >
			<span asp-validation-for="SKUId" ></span>
		</div>

		<div class="col-md-4 complex-form-col">
			<label asp-for="GoodsId" ></label>
			<input type="text" asp-for="GoodsId" >
			<span asp-validation-for="GoodsId" ></span>
		</div>

		<div class="col-md-4 complex-form-col">
			<label asp-for="MeasurementUnitId" ></label>
			<input type="hidden" asp-for="MeasurementUnitId" >
			<input type="text" asp-for="MeasurementUnitName" readonly="readonly" >
			<span asp-validation-for="MeasurementUnitId" ></span>
		</div>


		<div class="col-md-4 complex-form-col">
			<label asp-for="CurrentStock" ></label>
			<input type="number" asp-for="CurrentStock"  readonly>
			<span asp-validation-for="CurrentStock" ></span>
		</div>

		<div class="col-md-4 complex-form-col">
			<label asp-for="UnitPrice" ></label>
			<input type="number" asp-for="UnitPrice" >
			<span asp-validation-for="UnitPrice" ></span>
		</div>

		<div class="col-md-4 complex-form-col">
			<label asp-for="Quantity" ></label>
			<input type="number" asp-for="Quantity" >
			<span asp-validation-for="Quantity" ></span>
			<small id="msgQuantity" class="form-text text-danger"></small>
		</div>

		<div class="col-md-4 complex-form-col">
			<label asp-for="TotalPrice" ></label>
			<input type="text" readonly asp-for="TotalPrice" >
			<span asp-validation-for="TotalPrice" ></span>
		</div>

		<div class="col-md-4 complex-form-col">
			<label asp-for="ProductRemarks" ></label>
			<input type="text" asp-for="ProductRemarks" >
			<span asp-validation-for="ProductRemarks" ></span>
		</div>

		<div class="col-md-3 mt-3">
			<button type="button" class="btn  btn-primary btn-sm w-100" id="btnAddProduct"><i class="bi bi-plus-lg"></i> Add</button>
		</div>
		<div class="col-md-3 mt-3">
			<button onclick="resetProductInformationField();" type="button" class="btn  btn-warning btn-sm w-100" id="btnResetProduct"><i class="bi bi-arrow-repeat"></i> Reset</button>
		</div>
	</form>
</div>